@import "../../../../theme/variables";
@import "../../../../theme/button-utils";

:host {
  display: block;
  text-align: center;
}

ion-button.add-lesson {
  @include round-icon-button(value($admin-manage-classes-page, "add-lesson-button"));
  margin: value($admin-manage-classes-page, "add-lesson-button.margin");
}

ion-list {
  --ion-item-background: none;
}

ion-content ::ng-deep ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0 0 0 0;
  --border-width: 0 0 0 0;
}


.cancel-form {
  background: none;
  padding: value($cancel-popover, "form.padding");
  text-align: center;

  ion-item.item.item-input {
    ion-textarea {
      --padding-start: #{value($cancel-popover, "message.padding", "start")};
      --padding-end: #{value($cancel-popover, "message.padding", "end")};
      --padding-top: #{value($cancel-popover, "message.padding", "top")};
      --padding-bottom: #{value($cancel-popover, "message.padding", "bottom")};
    }
  }
}
