<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Gestion des cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="add-lesson" (click)="addLesson()" size="small">
    <ion-icon slot="icon-only" name="app-add-lesson"></ion-icon>
  </ion-button>
  <ion-list> 
    <ion-item *ngFor="let lesson of unscheduledLessons">
      <app-unscheduled-lesson-card
        [lesson]="lesson"
        [removable]="false"
        [schedulable]="true"
        [showDetails]="lessonDetailsProvider.isShowDetails(lesson)"
        (schedule)="schedule($event)"
        (remove)="removeLesson($event)"
        (viewDetails)="lessonDetailsProvider.viewDetails($event)"
        (hideDetails)="lessonDetailsProvider.hideDetails($event)"></app-unscheduled-lesson-card>
    </ion-item>
  </ion-list>
  <app-classes
    (click)="lastClick = $event"
    [classes]="classes"
    [bookingStateProvider]="bookingStateProvider"
    [detailsStateProvider]="detailsProvider"
    [pendingStateProvider]="pendingProvider"
    [manageClassStateProvider]="manageClassStateProvider"
    (edit)="edit($event)"
    (schedule)="schedule($event.lesson)"
    (cancel)="askCancelMessage($event)"
    (viewDetails)="detailsProvider.viewDetails($event)"
    (hideDetails)="detailsProvider.hideDetails($event)"
    (showPlaceDetails)="showPlaceDetails($event)"
    (showApprovedStudents)="showApprovedStudents($event)"
    (showWaitingStudents)="showWaitingStudents($event)"></app-classes>
</ion-content>

<ng-template #cancelMessage let-cancelingClass="cancelingClass" let-form="form">
  <form #cancelForm="ngForm" class="cancel-form" (ngSubmit)="cancel(cancelingClass, form.message)">
    <ion-item>
      <ion-label position="floating">Message d'annulation</ion-label>
      <ion-textarea 
        class="message" 
        type="text" 
        name="message" 
        #message="ngModel"
        [(ngModel)]="form.message" 
        required></ion-textarea>
      <div class="validation-errors" [class.invalid]="message.invalid && (message.dirty || message.touched)">
        <div *ngIf="message.invalid && message.errors.required">Le message d'annulation est obligatoire</div>
      </div>
    </ion-item>
    <ion-button type="submit" [disabled]="!cancelForm.valid" size="small">Annuler le cours</ion-button>
  </form>
</ng-template>


<ng-template #placeDetails let-place="place">
  <app-place-details [place]="place"></app-place-details>
</ng-template>


<ng-template #approvedStudents
  let-scheduledClass="scheduledClass"
  let-approvedBookings="scheduledClass.bookings.approved"
  let-maxStudents="scheduledClass.lesson.maxStudents">
  <app-approved-students 
    [approvedBookings]="approvedBookings" 
    [maxStudents]="maxStudents"
    [preferencesProvider]="preferencesProvider"
    (unbook)="unbookStudent(scheduledClass, $event)"></app-approved-students>
</ng-template>

<ng-template #waitingStudents
  let-scheduledClass="scheduledClass"
  let-waitingBookings="scheduledClass.bookings.waiting">
  <app-waiting-students
    [waitingBookings]="waitingBookings"
    [preferencesProvider]="preferencesProvider"
    (unbook)="unbookStudent(scheduledClass, $event)"></app-waiting-students>
</ng-template>
