<ion-card [class.show-details]="showDetails"
          [class.schedulable]="schedulable">
  <ion-card-header>
    <ion-card-title>Pas encore programmé</ion-card-title>
    <ion-button (click)="schedule.emit(lesson)" *ngIf="schedulable">
        <ion-icon slot="icon-only" name="custom-schedule-lesson"></ion-icon>
    </ion-button>
    <ion-button (click)="remove.emit(lesson)" *ngIf="removable">
        <ion-icon slot="icon-only" name="custom-remove-lesson"></ion-icon>
    </ion-button>
  </ion-card-header>
  <ion-card-content>
    <div class="preview">
      <span class="title">{{ lesson.title }}</span>
      <ion-badge class="max-students">{{ lesson.maxStudents }}</ion-badge>
    </div>
    <div class="details">
      <ion-button (click)="viewDetails.emit(lesson)" *ngIf="!showDetails">
        <ion-icon slot="icon-only" name="custom-view-details"></ion-icon>
      </ion-button>
      <ion-button (click)="hideDetails.emit(lesson)" *ngIf="showDetails">
        <ion-icon slot="icon-only" name="custom-hide-details"></ion-icon>
      </ion-button>
      <div class="details-content">
        <p>{{ lesson.description }}</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
