<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Détail du cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card
      *ngIf="scheduledClass"
      [class.bookable]="bookingStateProvider.isBookable(scheduledClass)" 
      [class.booked]="bookingStateProvider.isBooked(scheduledClass)" 
      [class.booking-approved]="bookingStateProvider.isBookingApproved(scheduledClass)"
      [class.booking-waiting]="bookingStateProvider.isBookingInWaitingList(scheduledClass)"
      [class.pending]="pendingProvider.isPending(scheduledClass)"
      [class.canceled]="manageClassStateProvider.isCanceled(scheduledClass)"
      [class.place-changed]="scheduledClass.lesson.placeChanged">
      <ion-card-header>
        <ion-card-title>
          <span class="title">{{ scheduledClass.lesson.title }}</span>
          <span class="date">{{ scheduledClass | dateRange:'date' }}</span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="actions">
          <div class="toggle-container">
            <ion-button class="book-class" (click)="bookingHelper.book(scheduledClass)" *ngIf="isBookable(scheduledClass)">
              <span>M'inscrire</span>
            </ion-button>
            <ion-button class="unbook-class" (click)="bookingHelper.unbook(scheduledClass)" *ngIf="isUnbookable(scheduledClass)">
              <span>Me désinscrire</span>
            </ion-button>
            <div class="pending" *ngIf="isPending(scheduledClass)">
              <ion-spinner></ion-spinner>
            </div>
          </div>
          <span *ngIf="isBooked(scheduledClass) && bookingStateProvider.isBookingInWaitingList(scheduledClass)">Tu es inscris en liste d'attente</span>
        </div>
        <div class="summary">
          <div class="time">
            <ion-icon slot="start" name="app-time"></ion-icon>
            <span>{{ scheduledClass | dateRange:'time' }}</span>
          </div>
          <div class="place">
            <ion-button (click)="showPlaceDetails(scheduledClass.lesson.place)">
              <ion-icon slot="start" name="app-place"></ion-icon>
              <span>{{ scheduledClass.lesson.place.name }}</span>
            </ion-button>
            <div class="place-changed" *ngIf="scheduledClass.lesson.placeChanged">
              <ion-icon slot="icon-only" name="app-place-changed"></ion-icon>
              <span>le lieu a été modifié</span>
            </div>
          </div>
          <div *ngIf="getPostureLevel()" class="posture-level level-{{ getPostureLevel().value }}">
            <ion-icon slot="icon-only" name="app-posture-level"></ion-icon>
            <span>{{ getPostureLevel().label }}</span>
          </div>
          <div *ngIf="getSportLevel()" class="sport-level level-{{ getSportLevel().value }}">
            <ion-icon slot="icon-only" name="app-sport-level"></ion-icon>
            <span>{{ getSportLevel().label }}</span>
          </div>
        </div>
        <div class="cancel-details" *ngIf="manageClassStateProvider.isCanceled(scheduledClass)">
          <p class="lesson-canceled">Cours annulé</p>
          <p class="teacher-message">
            <ion-icon slot="icon-only" name="app-canceled-message"></ion-icon>
            <span class="intro">{{ scheduledClass.lesson.teacher.displayName }} :</span>
            <span class="message">{{ scheduledClass.state.message }}</span>
          </p>
        </div>
        <app-class-details 
          [scheduledClass]="scheduledClass"
          [searchFriendProvider]="searchFriendProvider"
          (bookForFriend)="bookingHelper.bookForFriend($event)"
          (unbookForFriend)="bookingHelper.unbookForFriend($event)"></app-class-details>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>


<app-booking-helper
  #bookingHelper
  [redirection]="['classes', scheduledClassId]"
  [pendingProvider]="pendingProvider"
  (refresh)="refreshDetailsAndBooking()">
</app-booking-helper>


<ng-template #placeDetails let-place="place">
  <app-place-details [place]="place"></app-place-details>
</ng-template>

