@import "../../../../theme/variables";

ion-content {
  --padding-top: #{value($error-pages, "padding", "top")};
  --padding-bottom: #{value($error-pages, "padding", "bottom")};
  --padding-start: #{value($error-pages, "padding", "left")};
  --padding-end: #{value($error-pages, "padding", "right")};
  text-align: center;
}
