@import "../../../../theme/variables";
@import "../../../../theme/button-utils";

:host {
  display: block;
  text-align: center;
}

ion-button {
  margin: value($social-login, "button.margin");
  @include round-icon-button(value($social-login, "button"));
}
