<form (ngSubmit)="continue.emit(unregisteredUserModel)" #form="ngForm" novalidate>
  <ion-item class="display-name">
    <ion-label position="floating">Nom affiché</ion-label>
    <ion-input type="text" name="displayName" #displayName="ngModel" [(ngModel)]="unregisteredUserModel.displayName" required></ion-input>
    <ion-icon name="app-display-name" slot="start"></ion-icon>
    <app-help-button slot="end" title="Nom affiché">
      C'est le nom qui sera visible par les autres utilisateurs. C'est aussi ce nom que ton professeur de yoga
      uilisera lors de son cours.
    </app-help-button>
    <div class="validation-errors" [class.invalid]="displayName.invalid && (displayName.dirty || displayName.touched)">
      <div *ngIf="displayName.invalid && displayName.errors?.required">Le nom affiché est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="email">
    <ion-label position="floating">Email (optionnel)</ion-label>
    <ion-input type="email" name="contact.email" #email="ngModel" [(ngModel)]="unregisteredUserModel.contact.email" email autocapitalize="off"></ion-input>
    <ion-icon name="app-email" slot="start"></ion-icon>
    <app-help-button slot="end" title="Adresse email">
      Ton adresse email si tu souhaites recevoir les informations relatives aux cours 
      (confirmation de réservation, rappels, changement de lieu...).
      <br />
      Tu dois renseigner soit ton adresse email soit ton numéro de téléphone.
    </app-help-button>
    <div class="validation-errors" [class.invalid]="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.invalid && email.errors.email">Le format de l'adresse email n'est pas valide</div>
    </div>
  </ion-item>
  <ion-item class="phone-number">
    <ion-label position="floating">Numéro de téléphone (optionnel)</ion-label>
    <ion-input type="tel" name="contact.phoneNumber" #phoneNumber="ngModel" [(ngModel)]="unregisteredUserModel.contact.phoneNumber"></ion-input>
    <ion-icon name="app-phone" slot="start"></ion-icon>
    <app-help-button slot="end" title="Numéro de téléphone">
      Ton numéro de téléphone pour être prévenu rapidement d'un changement 
      (changement de lieu ou annulation).
      <br />
      Tu dois renseigner soit ton adresse email soit ton numéro de téléphone.
    </app-help-button>
    <div class="validation-errors" [class.invalid]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
    </div>
  </ion-item>
  <ion-item class="send-booked-email">
    <ion-toggle name="preferences.sendBookedMail" [(ngModel)]="unregisteredUserModel.preferences.sendBookedMail"></ion-toggle>
    <ion-label>Envoyer un mail lorsque je réserve un cours</ion-label>
    <ion-icon name="app-send-booked-email" slot="start"></ion-icon>
    <app-help-button slot="end" title="Email de réservation">
      Chaque fois que tu réserves, tu recevras une confirmation avec les informations
      du cours et la possibilité d'ajouter le cours à ton calendrier.
    </app-help-button>
  </ion-item>
  <ion-item class="agrees-to-be-assisted">
    <ion-toggle name="preferences.agreesToBeAssisted" [(ngModel)]="unregisteredUserModel.preferences.agreesToBeAssisted"></ion-toggle>
    <ion-label>J'accepte d'être assisté</ion-label>
    <ion-icon name="app-agrees-to-be-assisted" slot="start"></ion-icon>
    <app-help-button slot="end">
      Lors d'un cours de Yoga, le professeur peut être amené à corriger et assiter les participants.
      <br />
      Indique nous si tu ne souhaites pas être assisté ou touché.
    </app-help-button>
  </ion-item>
  <div class="response-errors" [class.has-errors]="errors && errors.length > 0">
  </div>
  <ion-button type="submit" [disabled]="!form.valid">{{ submitText }}</ion-button>
</form>