@import "../../../../theme/variables";

:host {
  display: block;
  text-align: center;
  justify-content: center;
}


.send-booked-email {
  margin: value($quick-connect-form, "email.margin");

  ion-icon {
    display: none;
  }
  ion-label {
    white-space: normal !important;
  }
}

.response-errors {
  display: none;
}