@import "../../../../theme/button-utils";
@import "../../../../theme/variables";

:host {
  display: block;
  text-align: center;
  justify-content: center;
}

.message {
  margin: value($reset-password-page, "message.margin");
  color: value($reset-password-page, "message.color");
  font-size: value($reset-password-page, "message.font-size");
}

.request-new-code {
  @include discreet-button(value($reset-password-page, "request-new-code.color"));
  margin: value($reset-password-page, "request-new-code.margin");
  font-size: value($reset-password-page, "request-new-code.font-size");
  text-decoration: underline;
  font-weight: bold;
}