<ion-calendar 
  (click)="lastClick = $event"
  type="js-date"
  [(ngModel)]="selectedDates"
  [options]="{pickMode: 'multi', daysConfig: daysConfig, weekStart: 1, weekdays: ['D', 'L', 'M', 'M', 'J', 'V', 'S']}"
  (onSelect)="chooseHours($event.time)"></ion-calendar>

<ng-template #selectHours let-date="date" let-hours="hours">
  <form class="select-hours" #hoursForm="ngForm" (ngSubmit)="setHours(date, hours)">
    <ion-icon name="custom-select-hours"></ion-icon>
    <ion-item class="start">
      <ion-input 
        type="text" 
        name="start" 
        [(ngModel)]="hours.start" 
        placeholder="Début"
        appTimeMask
        required></ion-input>
    </ion-item>
    <span class="separator">-</span>
    <ion-item class="end">
      <ion-input 
        type="text" 
        name="end" 
        [(ngModel)]="hours.end" 
        placeholder="Fin"
        appTimeMask
        required></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!hoursForm.valid" size="small">
      <ion-icon slot="icon-only" name="custom-submit"></ion-icon>
    </ion-button>
  </form>
</ng-template>
