:host {
    display: block;
}

/deep/ ion-calendar-month .days {
    height: 60px;
}

/deep/ ion-calendar-month button.days-btn.on-selected small {
    bottom: auto;
    top: 40px;
}

.select-hours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    ion-item {
        --min-height: 0;
        display: flex;
        width: 50px;
    }
    ion-input {
        --padding-top: 0;
        --padding-bottom: 0;
        text-align: center;
    }
    span {
        display: flex;
    }
    ion-button[type="submit"] {
        margin-top: 0;
    }
    .validation-errors {
        order: 99;
        flex: 0 0 100%;
    }
}