@import "../../../../theme/variables";
@import "../../../../theme/icons-utils";
@import "../../../../theme/animations";

:host {
  display: block;
  text-align: center;
  background: value($place-details-popover, "map.background");
}

.header {
  padding: value($place-details-popover, "header.padding");
  color: value($place-details-popover, "header.color");
  background: value($place-details-popover, "header.background");
}

ion-icon {
  @include icon-styles(value($place-details-popover, "header.icon"));
  vertical-align: middle;
}

.name {
  font-size: value($place-details-popover, "header.name.font-size");
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  height: value($place-details-popover, "header.icon.height");
  line-height: value($place-details-popover, "header.icon.height");
  vertical-align: middle;
}
.address {
  font-size: value($place-details-popover, "header.address.font-size");
  font-weight: bold;
  margin-top: value($place-details-popover, "header.spacing");
}

ion-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: - value($place-details-popover, "loader.height") / 2;
  margin-left: - value($place-details-popover, "loader.width") / 2;
  width: value($place-details-popover, "loader.width");
  height: value($place-details-popover, "loader.height");
  color: value($place-details-popover, "loader.color");
}

iframe {
  border: none;
  position: relative;
  display: block;
  width: 100%;
  height: value($place-details-popover, "map.height");
  background: transparent;
}