<form (ngSubmit)="update.emit(profile)" #form="ngForm" novalidate *ngIf="profile">
  <ion-item class="display-name">
    <ion-label position="floating">Nom affiché (ex: Prénom Nom)</ion-label>
    <ion-input type="text" name="displayName" #displayName="ngModel" [(ngModel)]="profile.displayName" required></ion-input>
    <ion-icon name="app-display-name" slot="start"></ion-icon>
    <app-help-button slot="end" title="Nom affiché">
      C'est le nom qui sera visible par les autres utilisateurs. C'est aussi ce nom que ton professeur de yoga
      uilisera lors de son cours.
      Il est préférable d'utiliser un nom qui permettra à ton professeur de yoga de t'identifier rapidement lors des cours.
    </app-help-button>
    <div class="information-message">
      <div>Nom compréhensible par ton professeur</div>
    </div>
    <div class="validation-errors" [class.invalid]="displayName.invalid && (displayName.dirty || displayName.touched)">
      <div *ngIf="displayName.invalid && displayName.errors.required">Le nom affiché est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="email">
    <ion-label position="floating">Email (optionnel)</ion-label>
    <ion-input type="email" name="contact.email" #email="ngModel" [(ngModel)]="profile.contact.email" email autocapitalize="off"></ion-input>
    <ion-icon name="app-email" slot="start"></ion-icon>
    <app-help-button slot="end" title="Adresse email">
      Ton adresse email si tu souhaites recevoir les informations relatives aux cours 
      (confirmation de réservation, rappels, changement de lieu...).
    </app-help-button>
    <div class="validation-errors" [class.invalid]="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.invalid && email.errors.email">Le format de l'adresse email n'est pas valide</div>
    </div>
  </ion-item>
  <ion-item class="phone">
    <ion-label position="floating">Numéro de téléphone (conseillé)</ion-label>
    <ion-input type="tel" name="contact.phoneNumber" #phoneNumber="ngModel" [(ngModel)]="profile.contact.phoneNumber" appPhoneNumberFormat="E164"></ion-input>
    <ion-icon name="app-phone" slot="start"></ion-icon>
    <app-help-button slot="end" title="Numéro de téléphone">
      Ton numéro de téléphone pour être prévenu rapidement d'un changement 
      (changement de lieu ou annulation).
    </app-help-button>
    <div class="validation-errors" [class.invalid]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
      <div *ngIf="phoneNumber.invalid && phoneNumber.errors.missingInternationalPrefix">Le préfixe du pays (+33, +262, ...) est obligatoire</div>
      <div *ngIf="phoneNumber.invalid && phoneNumber.errors.invalidNumber">Le numéro de téléphone n'est pas valide</div>
    </div>
  </ion-item>
  <div class="response-errors" [class.has-errors]="errors && errors.length > 0">
    <div *ngIf="hasError('LOGIN_ALREADY_USED')">L'identifiant utilisateur est déjà utilisé par un autre utilisateur</div>
  </div>
  <ion-button type="submit" [disabled]="!form.valid">Mettre à jour</ion-button>
</form>