@import "../../../../theme/variables";


ion-card {
  border-radius: value($class-package-card, "border-radius");
}

ion-card-header {
  --background: #{value($class-package-card, "header.background")};
  
  ion-card-title {
    color: value($class-package-card, "header.color");
    text-align: center;
  }
}

ion-card-content {
  color: value($class-package-card, "content.color");
  padding: value($class-package-card, "content.padding");

  .info {
    text-align: right;
    padding: value($class-package-card, "content.info.padding");
    font-size: value($class-package-card, "content.info.font-size");
  }
  
  .remaining {
    font-weight: bold;

    &::after {
      content: " ";
    }
  }
}


ion-card.expired {
  position: relative;

  ion-card-header {
    --background: #{value($class-package-card, "expired.header.background")};
    
    ion-card-title {
      color: value($class-package-card, "expired.header.color");
    }
  }

  .expired-text {
    font-weight: bold;
    font-size: value($class-package-card, "expired.message.font-size");
    color: value($class-package-card, "expired.message.color");

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to top left,
                rgba(0,0,0,0) 0%,
                rgba(0,0,0,0) calc(50% - #{value($class-package-card, "expired.line-through.width")}),
                value($class-package-card, "expired.line-through.color") 50%,
                rgba(0,0,0,0) calc(50% + #{value($class-package-card, "expired.line-through.width")}),
                rgba(0,0,0,0) 100%);
    }
  }
}