<ion-list>
  <ion-item *ngFor="let scheduledClass of classes" [id]="'scheduled-class-' + scheduledClass.id">
    <app-scheduled-class-card 
      [scheduledClass]="scheduledClass"
      [showDetails]="detailsStateProvider.isShowDetails(scheduledClass)"
      [booked]="bookingStateProvider.isBooked(scheduledClass)"
      [bookingApproved]="bookingStateProvider.isBookingApproved(scheduledClass)"
      [bookingWaiting]="bookingStateProvider.isBookingInWaitingList(scheduledClass)"
      [bookable]="bookingStateProvider.isBookable(scheduledClass)"
      [pending]="pendingStateProvider.isPending(scheduledClass)"
      [editable]="manageClassStateProvider.isEditable(scheduledClass)"
      [cancelable]="manageClassStateProvider.isCancelable(scheduledClass)"
      [canceled]="manageClassStateProvider.isCanceled(scheduledClass)"
      [canceledInfo]="manageClassStateProvider.getCanceledInfo(scheduledClass)"
      [searchFriendProvider]="searchFriendProvider"
      (book)="book.emit($event)"
      (unbook)="unbook.emit($event)"
      (viewDetails)="viewDetails.emit($event)"
      (hideDetails)="hideDetails.emit($event)"
      (edit)="edit.emit($event)"
      (cancel)="cancel.emit($event)"
      (showPlaceDetails)="showPlaceDetails.emit($event)"
      (showApprovedStudents)="showApprovedStudents.emit($event)"
      (showWaitingStudents)="showWaitingStudents.emit($event)"
      (showClassDetails)="showClassDetails.emit($event)"
      (bookForFriend)="bookForFriend.emit($event)"
      (unbookForFriend)="unbookForFriend.emit($event)"></app-scheduled-class-card>
  </ion-item>
</ion-list>
