<ion-list>
    <ion-item *ngFor="let scheduledClass of classes">
      <app-scheduled-class-card 
        *ngIf="classStateProvider"
        [scheduledClass]="scheduledClass"
        [showDetails]="classStateProvider.isShowDetails(scheduledClass)"
        [booked]="classStateProvider.isBooked(scheduledClass)"
        [pending]="classStateProvider.isPending(scheduledClass)"
        [bookable]="classStateProvider.isBookable(scheduledClass)"
        (book)="book.emit($event)"
        (cancel)="cancel.emit($event)"
        (viewDetails)="viewDetails.emit($event)"
        (hideDetails)="hideDetails.emit($event)"></app-scheduled-class-card>
    </ion-item>
  </ion-list>
  