@import "../../../../theme/button-utils";

ion-button {
  @include discreet-button(rgba(0, 0, 0, 0.54));
  font-size: 14px;
}

.header {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: var(--ion-color-tertiary);
  padding: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--ion-color-medium-tint);
}

.content {
  font-size: 13px;
  color: var(--ion-color-dark-tint);
  padding: 5px;
}