@import "../../../../theme/variables";
@import "../../../../theme/button-utils";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-button {
  @include round-icon-button($help-button);
  margin: auto;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: value($help-button, "header.font-size");
  color: value($help-button, "header.color");
  padding: value($help-button, "header.padding");
}

.content {
  font-size: value($help-button, "message.font-size");
  color: value($help-button, "message.color");
  padding: value($help-button, "message.padding");
}
