<form #form="ngForm" (ngSubmit)="save(lessonModel)">
  <ion-item class="title">
    <ion-label position="floating">Titre</ion-label>
    <ion-input 
      type="text" 
      name="title" 
      [(ngModel)]="lessonModel.title" 
      required></ion-input>
      <ion-icon name="custom-title" slot="start"></ion-icon>
    </ion-item>
  <ion-item class="max-students">
    <ion-label position="floating">Nombre de places</ion-label>
    <ion-input 
      type="number" 
      name="maxStudents" 
      [(ngModel)]="lessonModel.maxStudents" 
      required></ion-input>
      <ion-icon name="custom-max-students" slot="start"></ion-icon>
    </ion-item>
  <ion-item class="description">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea 
      type="text" 
      name="description" 
      [(ngModel)]="lessonModel.description" 
      required
      rows="10"></ion-textarea>
      <ion-icon name="custom-description" slot="start"></ion-icon>
    </ion-item>
  <ion-item class="place">
    <ion-label position="floating">Lieu</ion-label>
    <ion-select
      type="text" 
      name="place.id" 
      [(ngModel)]="lessonModel.place.id" 
      [interfaceOptions]="{header: 'Choix du lieu'}"
      interface="popover"
      required>
      <ion-select-option 
        *ngFor="let place of places"
        [value]="place.id">{{ place.name }}</ion-select-option>
    </ion-select>
    <ion-icon name="custom-place" slot="start"></ion-icon>
  </ion-item>
  <input 
    type="hidden" 
    name="teacher.id" 
    [(ngModel)]="lessonModel.teacher.id" />
  <ion-button type="submit" [disabled]="!form.valid">Ajouter</ion-button>
</form>