<form #form="ngForm" (ngSubmit)="save(form.value)">
  <ion-item class="title">
    <ion-label position="floating">Titre</ion-label>
    <ion-input 
      type="text" 
      name="title" 
      #title="ngModel"
      [(ngModel)]="lessonModel.title" 
      required></ion-input>
    <ion-icon name="app-title" slot="start"></ion-icon>
    <div class="validation-errors" [class.invalid]="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.invalid && title.errors.required">Le titre du cours est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="max-students">
    <ion-label position="floating">Nombre de places</ion-label>
    <ion-input 
      type="number" 
      name="maxStudents" 
      #maxStudents="ngModel"
      [(ngModel)]="lessonModel.maxStudents"
      required></ion-input>
    <ion-icon name="app-max-students" slot="start"></ion-icon>
    <div class="validation-errors" [class.invalid]="maxStudents.invalid && (maxStudents.dirty || maxStudents.touched)">
      <div *ngIf="maxStudents.invalid && maxStudents.errors.required">Le nombre de places maximum est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="sport-level">
    <ion-label position="floating">Intensité sportive</ion-label>
    <ion-select
      name="sportLevel" 
      #sportLevel="ngModel"
      [(ngModel)]="lessonModel.sportLevel" 
      [interfaceOptions]="{header: 'Intensité sportive'}"
      interface="popover">
      <ion-select-option [value]="null">Aucun</ion-select-option>
      <ion-select-option 
        *ngFor="let level of sportLevels"
        [value]="level.value">{{ level.label }} [{{ level.value + 1 }}]</ion-select-option>
    </ion-select>
    <div class="validation-errors" [class.invalid]="sportLevel.invalid && (sportLevel.dirty || sportLevel.touched)">
    </div>
  </ion-item>
  <ion-item class="posture-level">
    <ion-label position="floating">Intensité des postures</ion-label>
    <ion-select
      name="postureLevel" 
      #postureLevel="ngModel"
      [(ngModel)]="lessonModel.postureLevel" 
      [interfaceOptions]="{header: 'Intensité des postures'}"
      interface="popover">
      <ion-select-option [value]="null">Aucun</ion-select-option>
      <ion-select-option 
        *ngFor="let level of postureLevels"
        [value]="level.value">{{ level.label }} [{{ level.value + 1 }}]</ion-select-option>
    </ion-select>
    <div class="validation-errors" [class.invalid]="postureLevel.invalid && (postureLevel.dirty || sportLevel.touched)">
      <div *ngIf="postureLevel.invalid && postureLevel.errors.required">Le niveau d'intensité est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="description">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea 
      type="text" 
      name="description" 
      #description="ngModel"
      [(ngModel)]="lessonModel.description" 
      required
      rows="10"></ion-textarea>
    <ion-icon name="app-description" slot="start"></ion-icon>
    <div class="validation-errors" [class.invalid]="description.invalid && (description.dirty || description.touched)">
      <div *ngIf="description.invalid && description.errors.required">La description du cours est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="place">
    <ion-label position="floating">Lieu</ion-label>
    <ion-select
      name="placeId" 
      #place="ngModel"
      [(ngModel)]="lessonModel.placeId" 
      [interfaceOptions]="{header: 'Choix du lieu'}"
      interface="popover"
      required>
      <ion-select-option 
        *ngFor="let place of places"
        [value]="place.id">{{ place.name }}</ion-select-option>
    </ion-select>
    <ion-icon name="app-place" slot="start"></ion-icon>
    <div class="validation-errors" [class.invalid]="place.invalid && (place.dirty || place.touched)">
      <div *ngIf="place.invalid && place.errors.required">Le lieu de dispense est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="teacher">
    <ion-label position="floating">Professeur</ion-label>
    <ion-select
      name="teacherId" 
      #teacher="ngModel"
      [(ngModel)]="lessonModel.teacherId" 
      [interfaceOptions]="{header: 'Choix du professeur'}"
      interface="popover"
      required>
      <ion-select-option 
        *ngFor="let teacher of teachers"
        [value]="teacher.id">{{ teacher.displayName }}</ion-select-option>
    </ion-select>
    <ion-icon name="app-teacher" slot="start"></ion-icon>
    <div class="validation-errors" [class.invalid]="teacher.invalid && (teacher.dirty || teacher.touched)">
      <div *ngIf="teacher.invalid && teacher.errors.required">Le professeur est obligatoire</div>
    </div>
  </ion-item>
  <ion-item class="subscription">
    <ion-toggle
      name="subscriptionPack" 
      #subscriptionPack="ngModel"
      [(ngModel)]="lessonModel.subscriptionPack">
    </ion-toggle>
    <ion-label>Inclus dans l'abonnement</ion-label>
  </ion-item>
  <ion-button type="submit" [disabled]="!form.valid">{{ buttonText }}</ion-button>
</form>