<form #form="ngForm" (ngSubmit)="save(form.value)">
  <ion-item class="title">
    <ion-label position="floating">Titre</ion-label>
    <ion-input 
      type="text" 
      name="title" 
      #title="ngModel"
      [(ngModel)]="lessonModel.title" 
      required></ion-input>
    <ion-icon name="custom-title" slot="start"></ion-icon>
  </ion-item>
  <div class="validation-errors" [class.invalid]="title.invalid && (title.dirty || title.touched)">
    <div *ngIf="title.invalid && title.errors.required">Le titre du cours est obligatoire</div>
  </div>
  <ion-item class="max-students">
    <ion-label position="floating">Nombre de places</ion-label>
    <ion-input 
      type="number" 
      name="maxStudents" 
      #maxStudents="ngModel"
      [(ngModel)]="lessonModel.maxStudents" 
      required></ion-input>
    <ion-icon name="custom-max-students" slot="start"></ion-icon>
  </ion-item>
  <div class="validation-errors" [class.invalid]="maxStudents.invalid && (maxStudents.dirty || maxStudents.touched)">
    <div *ngIf="maxStudents.invalid && maxStudents.errors.required">Le nombre de places maximum est obligatoire</div>
  </div>
  <ion-item class="description">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea 
      type="text" 
      name="description" 
      #description="ngModel"
      [(ngModel)]="lessonModel.description" 
      required
      rows="10"></ion-textarea>
    <ion-icon name="custom-description" slot="start"></ion-icon>
  </ion-item>
  <div class="validation-errors" [class.invalid]="description.invalid && (description.dirty || description.touched)">
    <div *ngIf="description.invalid && description.errors.required">La description du cours est obligatoire</div>
  </div>
  <ion-item class="place">
    <ion-label position="floating">Lieu</ion-label>
    <ion-select
      type="text" 
      name="placeId" 
      #place="ngModel"
      [(ngModel)]="lessonModel.placeId" 
      [interfaceOptions]="{header: 'Choix du lieu'}"
      interface="popover"
      required>
      <ion-select-option 
        *ngFor="let place of places"
        [value]="place.id">{{ place.name }}</ion-select-option>
    </ion-select>
    <ion-icon name="custom-place" slot="start"></ion-icon>
  </ion-item>
  <div class="validation-errors" [class.invalid]="place.invalid && (place.dirty || place.touched)">
    <div *ngIf="place.invalid && place.errors.required">Le lieu de dispense est obligatoire</div>
  </div>
  <input 
    type="hidden" 
    name="teacherId" 
    [(ngModel)]="lessonModel.teacherId" />
  <ion-button type="submit" [disabled]="!form.valid">{{ buttonText }}</ion-button>
</form>