@import "../../../../theme/variables";

:host {
  display: block;
  text-align: center;
  justify-content: center;
}

form {
  background-position-y: value($register-student-form, "background.position-y");
}

.visible-by-others,
.agrees-to-be-assisted,
.add-to-calendar {
  margin: value($register-student-form, "checkboxes.margin");
  
  ion-icon {
    display: none;
  }
  ion-label {
    white-space: normal !important;
  }
}