ion-auto-complete {
  width: 100% !important;
  
  ion-searchbar .searchbar-input-container {
    --box-shadow: none;
    --background: #{value($autocomplete, "background")};
    --color: #{value($autocomplete, "color")};
  }
  ion-searchbar .searchbar-input.sc-ion-searchbar-md {
    padding-inline-start: value($autocomplete, "padding", "start");
    padding-inline-end: value($autocomplete, "padding", "end");
    padding-top: value($autocomplete, "padding", "top");
    padding-bottom: value($autocomplete, "padding", "bottom");
    border: value($autocomplete, "border");
    border-radius: value($autocomplete, "border-radius");
    font-size: value($autocomplete, "font-size");
    line-height: normal;

    &::-webkit-input-placeholder,
    &::placeholder {
      color: value($autocomplete, "placeholder.color");
      font-size: value($autocomplete, "placeholder.font-size");
      font-weight: bold;
    }
  }

  ion-searchbar .searchbar-search-icon.sc-ion-searchbar-md {
    display: none !important;
  }

  ul {
    width: auto;
  }
  ul li {
    padding: value($autocomplete, "results.padding");
    color: value($autocomplete, "results.color");
    font-size: value($autocomplete, "results.font-size");
  }
  ul li:focus, 
  ul li.focus {
    background: value($autocomplete, "results.background");
  }
}
