@font-face {
  font-family: 'Comfortaa';
  src: url('src/assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: bold;
  src: url('src/assets/fonts/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 300;
  src: url('src/assets/fonts/Comfortaa-Light.ttf') format('truetype');
}
