@import "icons-utils";
@import "animations";


/*ion-icon {
  &[name^="app-"] ::ng-deep .icon-inner,
  &[name^="app-"] ::ng-deep svg {
    stroke: none;
  }
}*/
/*
ion-icon {
  &[name="app-book"] {
    @include fas-icon($fa-var-user-plus);
  }
  &[name="app-unbook"] {
    @include fas-icon($fa-var-user-minus);
  }
  &[name="app-pending"] {
    @include fas-icon($fa-var-spinner);

    &:before {
      display: inline-block;
      animation: fa-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
  }
  &[name="app-cancel-class"] {
    @include fas-icon($fa-var-times);    
  }
  &[name="app-edit-class"] {
    // @include fas-icon($fa-var-pencil-alt);
    @include fas-icon($fa-var-edit);
  }
  &[name="app-approved-list"] {
    @include fas-icon($fa-var-user-check);
  }
  &[name="app-waiting-list"] {
    @include fas-icon($fa-var-user-clock);
  }
  &[name="app-register-friend"] {
    @include fas-icon($fa-var-plus);
  }
  &[name="app-unregister-friend"] {
    @include fas-icon($fa-var-minus-circle);
  }
  &[name="app-google-auth"] {
    @include fab-icon($fa-var-google);
  }
  &[name="app-facebook-auth"] {
    @include fab-icon($fa-var-facebook-f);
  }
  &[name="app-schedule-lesson"] {
    @include fas-icon($fa-var-calendar-plus);
  }
  &[name="app-remove-lesson"] {
    @include fa-icon($fa-var-trash-alt);
  }
  &[name="app-add-lesson"] {
    @include fas-icon($fa-var-plus);
  }
  &[name="app-help"] {
    @include fa-icon($fa-var-question-circle);
  }
  &[name="app-submit"] {
    @include fas-icon($fa-var-check);
  }
  &[name="app-view-details"] {
    @include fas-icon($fa-var-angle-down);
  }
  &[name="app-hide-details"] {
    @include fas-icon($fa-var-angle-up);
  }


  &[name="app-login"] {
    @include fas-icon($fa-var-user);
  }
  &[name="app-password"] {
    @include fas-icon($fa-var-key);
  }

  &[name="app-display-name"] {
    @include fas-icon($fa-var-user-tag);
  }
  &[name="app-email"] {
    @include fas-icon($fa-var-envelope);
  }
  &[name="app-phone"] {
    @include fas-icon($fa-var-phone-alt);
  }
  &[name="app-send-booked-email"] {
    @include fas-icon($fa-var-bell);
  }

  &[name="app-title"] {
    @include fas-icon($fa-var-feather-alt);
  }
  &[name="app-max-students"] {
    @include fas-icon($fa-var-user-lock);
  }
  &[name="app-description"] {
    @include fas-icon($fa-var-quote-left);
  }
  &[name="app-place"] {
    @include fas-icon($fa-var-map-marked);
  }

  &[name="app-select-hours"] {
    @include fas-icon($fa-var-clock);
  }
  &[name="app-address"] {
    @include fas-icon($fa-var-map-marker-alt);
  }

  &[name="app-menu-next-lessons"] {
    @include fas-icon($fa-var-calendar-plus);
  }
  &[name="app-menu-my-next-lessons"] {
    @include fas-icon($fa-var-calendar-check);
  }
  &[name="app-menu-login"] {
    @include fas-icon($fa-var-key);
  }
  &[name="app-menu-signup"] {
    @include fas-icon($fa-var-address-card);
  }
  &[name="app-menu-logout"] {
    @include fas-icon($fa-var-lock);
  }
  &[name="app-menu-profile"] {
    @include fas-icon($fa-var-id-card);
  }
  &[name="app-menu-preferences"] {
    @include fas-icon($fa-var-sliders-h);
  }

  &[name="app-menu-next-classes"] {
    @include fas-icon($fa-var-calendar-alt);
  }
  &[name="app-menu-add-lesson"] {
    @include fas-icon($fa-var-book-medical);
  }
  &[name="app-menu-add-event"] {
    @include fa-icon($fa-var-qrcode);
  }
  &[name="app-menu-add-place"] {
    @include fas-icon($fa-var-map-marked-alt);
  }

  &[name="app-current-user"] {
    @include fa-icon($fa-var-user-circle);
  }
}
*/
