@import "variables";

ion-header {
  &::after {
    display: none;
  }
}

ion-toolbar {
  text-align: left;
  border-bottom: 1px solid var(--ion-color-tertiary);
  
  ion-menu-button,
  ion-title {
    display: inline-block;
    text-align: left;
  }

  ion-title {
    font-size: value($menu, "toolbar.font-size");
    font-weight: bold;
  }
}

ion-menu {
  ion-content {
    position: relative;
  }

  ion-item {
    ion-icon {
      -webkit-margin-start: 12px;
      margin-inline-start: 12px;
      -webkit-margin-end: 12px;
      margin-inline-end: 12px;
      text-align: center;
      font-size: 26px;
      line-height: 22px !important;
      color: value($menu, "toolbar.button.color");
    }

    a {
      text-decoration: none;
      color: value($menu, "toolbar.button.color");
    }
  }

  .current-user {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--ion-color-tertiary);
    padding: 10px 0;

    ion-icon {
      -webkit-margin-start: 12px;
      margin-inline-start: 12px;
      -webkit-margin-end: 12px;
      margin-inline-end: 12px;
      text-align: center;
      font-size: 24px;
      line-height: 21px !important;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
