@import "variables";

/* page header */
.ion-page ion-header {
  &::after {
    display: none;
  }

  ion-toolbar {
    text-align: left;
    border-bottom: value($menu, "page-header.border-bottom");
    
    ion-menu-button,
    ion-title {
      display: inline-block;
      text-align: left;
    }
    
    ion-title {
      font-size: value($menu, "page-header.font-size");
      font-weight: bold;
    }
    
    ion-menu-button {
      @include icon-colors(value($menu, "page-header.button.icon.colors"));
    }
  }
}


/* menu */
ion-menu {
  --width: #{value($menu, "width")};
  --background: transparent;
  // TODO: remove box-shadow on .menu-inner (shadow dom...)

  ion-header {
    display: none;
  }
  ion-content {
    position: relative;
    border-radius: value($menu, "border-radius");
    overflow: hidden;
  }

  ion-list,
  .list-md {
    margin: value($menu, "list.margin");
    border-bottom: value($menu, "list.border-bottom");
  }

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0 0 0 0;
    --border-width: 0 0 0 0;

    ion-icon {
      -webkit-margin-start: value($menu, "menu-item.icon.padding", "start");
      margin-inline-start: value($menu, "menu-item.icon.padding", "start");
      -webkit-margin-end: value($menu, "menu-item.icon.padding", "end");
      margin-inline-end: value($menu, "menu-item.icon.padding", "end");
      @include icon-styles(value($menu, "menu-item.icon"));
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      color: value($menu, "menu-item.color");
      font-size: value($menu, "menu-item.font-size");
      font-weight: bold;
      display: inline-block;
      line-height: value($menu, "menu-item.icon.height");
      height: value($menu, "menu-item.icon.height");
      vertical-align: middle;
    }
  }
  ion-item {
    &:nth-child(odd) ion-icon {
      @include icon-colors(value($menu, "menu-item.icon-odd.colors"));
    }
    &:nth-child(even) ion-icon {
      @include icon-colors(value($menu, "menu-item.icon-even.colors"));
    }
  }

  app-install {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    > div {
      background: none !important;
      
      .app-icon {
        display: none;
      }
      .download {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }

  .current-user {
    display: none;
  }
}
