@import "variables";
@import "icons-utils";
@import "button-utils";

ion-popover {
  .popover-wrapper {
    --width: #{value($popover, "width")};

    div.popover-content {
      border-radius: value($popover, "border-radius");
      // padding: value($popover, "padding");
      overflow: visible;
    }
  }

  app-popover {
    max-height: 100%;
    overflow: auto;

    /*> * {
      border-radius: value($popover, "border-radius");
      overflow: hidden;
    }*/

    ion-button.close {
      @include round-icon-button(value($popover, "close-button"));
      position: absolute;
      top: value($popover, "close-button.position.top");
      right: value($popover, "close-button.position.right");
      z-index: 100;
    }


    ion-list.list-md {
      background: none;

      ion-item {
        --background: none;
      }
    }
  }

  &.place-details,
  &.select-hours,
  &.recurrence {
    ion-button.close {
      display: none;
    }
  }
}


ion-popover.help {
  div.popover-content {
    border-radius: value($help-popover, "border-radius");
  }

  app-popover {
    /*> * {
      border-radius: value($help-popover, "border-radius");
    }*/
  
    ion-button.close {
      @include round-icon-button(value($help-popover, "close-button"));
      top: value($help-popover, "close-button.position.top");
      right: value($help-popover, "close-button.position.right");
    }
  }
}

ion-popover.confirm-remove {
  div.popover-content {
    padding: 20px 10px 10px 10px;
    text-align: center;
  }
}