@import "variables";

ion-segment[class*="md"] {
  width: value($segment, "width");
  margin-left: auto;
  margin-right: auto;
  border-radius: value($segment, "border-radius");
  overflow: hidden;
}

ion-segment-button {
  --border-width: #{value($segment, "button.border", "border-width")} #{value($segment, "button.border", "border-width")} #{value($segment, "button.border", "border-width")} #{value($segment, "button.border", "border-width")};
  --border-color: #{value($segment, "button.border", "border-color")};
  --border-style: #{value($segment, "button.border", "border-style")};
  --border-radius: none;
  --background: #{value($segment, "button.background")};
  --color: #{value($segment, "button.color")};
  --background-activated: #{value($segment, "button.selected.background")};
  --background-checked: #{value($segment, "button.selected.background")};
  --color-checked: #{value($segment, "button.selected.color")};
  --indicator-color-checked: transparent;
  --indicator-height: 0;
  min-height: value($segment, "height");
  font-size: value($segment, "font-size");
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
}