// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "variable-utils";

$main-colors: (
  primary: (
    normal:     #7B57BB,
    contrast:   #ffffff,
    shade:      #443464,
    tint:       #9F9AEB
  ),
  secondary: (
    normal:     #15101F,
    contrast:   #ffffff,
  ),
  tertiary: (
    normal:     #D5D3EB,
    contrast:   #ffffff,
  ),
  warning: (
    normal:     #5A1478,
    contrast:   #ffffff,
  )
);

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Comfortaa";

  /** primary **/
  --ion-color-primary: #{value($main-colors, "primary.normal")};
  --ion-color-primary-rgb: #{red(value($main-colors, "primary.normal"))}, #{green(value($main-colors, "primary.normal"))}, #{blue(value($main-colors, "primary.normal"))};
  --ion-color-primary-contrast: #{value($main-colors, "primary.contrast")};
  --ion-color-primary-contrast-rgb: #{red(value($main-colors, "primary.contrast"))}, #{green(value($main-colors, "primary.contrast"))}, #{blue(value($main-colors, "primary.contrast"))};
  --ion-color-primary-shade: #{value($main-colors, "primary.shade")};
  --ion-color-primary-tint: #{value($main-colors, "primary.tint")};

  /** secondary **/
  --ion-color-secondary: #{value($main-colors, "secondary.normal")};
  --ion-color-secondary-rgb: #{red(value($main-colors, "secondary.normal"))}, #{green(value($main-colors, "secondary.normal"))}, #{blue(value($main-colors, "secondary.normal"))};
  --ion-color-secondary-contrast: #{value($main-colors, "secondary.contrast")};
  --ion-color-secondary-contrast-rgb: #{red(value($main-colors, "secondary.contrast"))}, #{green(value($main-colors, "secondary.contrast"))}, #{blue(value($main-colors, "secondary.contrast"))};
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #{value($main-colors, "tertiary.normal")};
  --ion-color-tertiary-rgb: #{red(value($main-colors, "tertiary.normal"))}, #{green(value($main-colors, "tertiary.normal"))}, #{blue(value($main-colors, "tertiary.normal"))};
  --ion-color-tertiary-contrast: #{value($main-colors, "tertiary.contrast")};
  --ion-color-tertiary-contrast-rgb: #{red(value($main-colors, "tertiary.contrast"))}, #{green(value($main-colors, "tertiary.contrast"))}, #{blue(value($main-colors, "tertiary.contrast"))};
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #{value($main-colors, "warning.normal")};
  --ion-color-warning-rgb: #{red(value($main-colors, "warning.normal"))}, #{green(value($main-colors, "warning.normal"))}, #{blue(value($main-colors, "warning.normal"))};
  --ion-color-warning-contrast: #{value($main-colors, "warning.contrast")};
  --ion-color-warning-contrast-rgb: #{red(value($main-colors, "warning.contrast"))}, #{green(value($main-colors, "warning.contrast"))}, #{blue(value($main-colors, "warning.contrast"))};
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// calendar colors
$colors: (
  primary:    value($main-colors, "primary.normal"),
  secondary:  value($main-colors, "secondary.normal"),
  danger:     value($main-colors, "warning.normal"),
  light:      value($main-colors, "tertiary.normal"),
  dark:       value($main-colors, "secondary.normal"),
  cal-color:  value($main-colors, "primary.normal")
);

$font-family-md-base: "Comfortaa";
$font-family-ios-base: "Comfortaa";
$font-family-wp-base: "Comfortaa";


$menu: (
  "width": 295px,
  "border-radius": 0 35px 35px 0,
  "page-header": (
    "color": var(--ion-color-primary-shade),
    "font-size": 18px,
    "border-bottom": 1px solid var(--ion-color-tertiary),
    "button": (
      "icon": (
        "colors": var(--ion-color-primary)
      )
    )
  ),
  "list": (
    "margin": 40px,
    "border-bottom": 2px solid var(--ion-color-tertiary)
  ),
  "menu-item": (
    "color": var(--ion-color-primary),
    "font-size": 15px,
    "icon": (
      "width": 22px,
      "height": 22px,
      "padding": 0 12px 0 12px,
    ),
    "icon-odd": (
      "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    ),
    "icon-even": (
      "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
    )
  )
);

$pages: (
  "background": linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(201,206,212,1) 100%),
);


$popover: (
  "width": 300px,
  "border-radius": 30px,
  "padding": 5px,
  "close-button": (
    "position": (
      "top": -8px,
      "right": -6px
    ),
    "icon": (
      "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
      "width": 40px,
      "height": 40px,
    )
  )
);

$forms: (
  "background": top center / 95% no-repeat url('src/assets/background/form.svg'),
  "font-size": 12px,
  "layout": (
    "padding": 40px 15%,
    "space-between": 2px,
    "help": (
      "position": (
        "right": -40px
      )
    ),
    "validation": (
      "padding": 2px 0 0 0,
      "min-height": 18px
    ),
    "response": (
      "margin": 12px 0,
      "min-height": 13px
    )
  ),
  "errors": (
    "font-size": 11px,
    "color": var(--ion-color-warning)
  )
);

$labels: (
  "color": var(--ion-color-primary),
  "animation": (
    "empty": (
      "y": 27px
    ),
    "filled": (
      "y": 2px
    )
  )
);

$inputs: (
  "border": 1px solid var(--ion-color-primary-tint),
  "border-radius": 20px,
  "padding": 12px 20px,
  "background": var(--ion-color-primary-contrast)
);

$textareas: map-merge($inputs, (
  "min-height": 80px
));

$selects: map-merge($inputs, (
  "padding": 10px 20px,
  "arrow": (
    "background": center center / 18px no-repeat url('src/assets/icon/app-select-arrow.svg')
  ),
  "popover": map-merge($popover, (
    "width": 250px,
    "title": (
      "font-size": 14px,
      "color": var(--ion-color-primary)
    )
  )),
  "option": (
    "font-size": 12px,
    "margin": 5px 0,
    "radio-button": (
      "width": 16px,
      "height": 16px,
      "color": var(--ion-color-primary-tint)
    )
  )
));


$checkboxes: (
  "label": (
    "font-size": 11.5px,
    "color": var(--ion-color-primary-shade)
  )
);

$buttons: (
  "primary": (
    "border-radius": 12px,
    "font-size": 14px
  ),
  "secondary": (
    "border-radius": 8px,
    "font-size": 11.5px
  ),
  "small": (
    "padding": 0 0.4em,
    "font-size": 10px
  )
);

$help-button: (
  "icon": (
    "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
    "width": 20px,
    "height": 20px
  )
);

$help-popover: (
  "border-radius": 20px,
  "close-button": (
    "position": (
      "top": -6px,
      "right": -3px
    ),
    "icon": (
      "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
      "width": 20px,
      "height": 20px,
    )
  ),
  "header": (
    "font-size": 11px,
    "color": var(--ion-color-primary),
    "padding": 5px 5px 0 5px
  ),
  "message": (
    "font-size": 10px,
    "color": var(--ion-color-secondary),
    "padding": 10px
  )
);

$segment: (
  "width": 90%,
  "height": 27px,
  "font-size": 11.5px,
  "border-radius": 12px,
  "button": (
    "border": 1px solid var(--ion-color-primary),
    "background": var(--ion-color-primary),
    "color": var(--ion-color-primary-contrast),
    "selected": (
      "background": var(--ion-color-primary-shade),
      "color": var(--ion-color-primary-contrast)
    )
  )
);


$scheduled-class-card-layout: (
  "border-radius": 30px 30px 60px 30px,
  "margin-inline": 30px,
  "margin-bottom": 25px,
  "padding": 12px 0 0 0,
  "summary": (
    "padding": 11px 2px 0 2px
  ),
  "details": (
    "margin-top": 10px,
    "padding-bottom": 50px
  ),
  "cancel-details": (
    "margin-top": 10px
  )
);
$scheduled-class-card-header: (
  "padding": 10px,
  "date": (
    "font-size": 16px,
  ),
  "spacing": 8px,
  "title": (
    "font-size": 15px
  )
);
$scheduled-class-card-content: (
  "background": #fff
);
$scheduled-class-card-time: (
  "color": var(--ion-color-secondary),
  "font-size": 13px,
  "space-between": 6px,
  "icon": (
    "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
    "width": 24px, 
    "height": 22px
  )
);
$scheduled-class-card-place: (
  "color": var(--ion-color-secondary),
  "font-size": 13px,
  "icon": (
    "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
    "width": 22px, 
    "height": 22px
  )
);
$scheduled-class-card-place-changed: (
  "border-radius": 25px,
  "padding": 4px 15px,
  "font-size": 9px,
  "spacing": 5px,
  "background": var(--ion-color-secondary),
  "color": var(--ion-color-secondary-contrast),
  "icon": (
    "colors": var(--ion-color-secondary-contrast) var(--ion-color-secondary),
    "width": 16px,
    "height": 12px
  )
);
$scheduled-class-card-remaining-places: (
  "color": var(--ion-color-primary),
  "font-size": 10px,
  "position": (
    "top": 11px,
    "right": 41px
  ),
  "padding": 0,
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 28px, 
    "height": 28px
  )
);
$scheduled-class-card-waiting-places: (
  "color": var(--ion-color-primary),
  "font-size": 10px,
  "position": (
    "top": 10px,
    "right": 0
  ),
  "padding": 0,
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 31px, 
    "height": 31px
  )
);
$scheduled-class-card-posture-level: (
  "font-size": 13px,
  "color": var(--ion-color-secondary),
  "padding": 4px 10px 4px 0,
  "spacing": 5px,
  "icon": (
    "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
    "width": 24px, 
    "height": 22px
  ),
  "number": (
    "font-size": 9px
  )
);
$scheduled-class-card-sport-level: (
  "font-size": 13px,
  "color": var(--ion-color-secondary),
  "padding": 4px 0 4px 0,
  "spacing": 5px,
  "icon": (
    "colors": var(--ion-color-primary-tint) var(--ion-color-primary),
    "width": 24px, 
    "height": 22px
  ),
  "number": (
    "font-size": 9px
  )
);
$scheduled-class-card-details: (
  "description": (
    "font-size": 11px
  ),
  "margin": 0 0 20px 0
);
$scheduled-class-card-details-button: (
  "background": var(--ion-color-tertiary),
  "color": var(--ion-color-primary),
  "font-size": 11.5px,
  "padding": 12px 25px,
  "border-radius": 50px,
  "space-between": 18px,
  "height": 35px,
  "position": (
    "bottom": 10px
  ),
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 18px,
    "height": 10px
  )
);
$scheduled-class-card-book-button: (
  "position": (
    "bottom": -15px,
    "right": 35px
  ),
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 78px,
    "height": 78px
  )
);
$scheduled-class-card-unbook-button: (
  "position": (
    "bottom": 16px,
    "right": -8px
  ),
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 46px,
    "height": 46px
  )
);
$scheduled-class-card-cancel-details: (
  "message": (
    "font-size": 12px,
    "color": var(--ion-color-secondary),
    "icon": (
      "colors": var(--ion-color-warning) var(--ion-color-warning-contrast),
      "width": 20px,
      "height": 20px,
      "margin": 0 7px 0 4px
    ),
    "spacing": 10px,
    "teacher-name": (
      "color":  var(--ion-color-warning)
    )
  ),
  "spacing": 23px,
  "lesson-canceled": (
    "font-size": 11.5px,
    "color": var(--ion-color-warning-contrast),
    "background": var(--ion-color-warning),
    "border-radius": 25px,
    "padding": 9px 25px
  )
);
$scheduled-class-card-pending: (
  "background": var(--ion-color-primary-contrast),
  "color": var(--ion-color-primary),
  "padding": 5px,
  "width": 78px,
  "height": 78px,
  "position": (
    "bottom": -12px,
    "right": 37px
  ),
);
$scheduled-class-card-states: (
  "bookable": (
    "header": (
      "background": var(--ion-color-primary),
      "color": var(--ion-color-primary-contrast)
    )
  ),
  "booking-approved": (
    "header": (
      "background": var(--ion-color-secondary),
      "color": var(--ion-color-secondary-contrast)
    ),
    "icon": (
      "position": (
        "bottom": -12px,
        "right": 37px
      ),
      "colors": var(--ion-color-secondary) var(--ion-color-secondary-contrast),
      "width": 78px,
      "height": 78px
    )
  ),
  "booking-waiting": (
    "header": (
      "background": var(--ion-color-primary),
      "color": var(--ion-color-primary-contrast)
    ),
    "icon": (
      "position": (
        "bottom": -9px,
        "right": 39px
      ),
      "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
      "width": 73px,
      "height": 73px
    )
  ),
  "canceled": (
    "header": (
      "background": var(--ion-color-warning),
      "color": var(--ion-color-warning-contrast)
    ),
    "icon": (
      "position": (
        "bottom": -9px,
        "right": 39px
      ),
      "colors": var(--ion-color-warning-contrast) var(--ion-color-warning),
      "width": 73px,
      "height": 73px
    )
  ),
);
$scheduled-class-card-schedule-button: (
  "position": (
    "bottom": 10px,
    "right": 15px
  ),
  "icon": (
    "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
    "width": 45px,
    "height": 45px
  )
);
$scheduled-class-card-edit-button: (
  "position": (
    "bottom": 10px,
    "right": #{value($scheduled-class-card-schedule-button, "position.right") + value($scheduled-class-card-schedule-button, "icon.width") + 8px}
  ),
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 45px,
    "height": 45px
  )
);
$scheduled-class-card-cancel-button: (
  "position": (
    "top": -25px,
    "right": -5px
  ),
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 45px,
    "height": 45px
  )
);

$register-friend-button: (
  "icon": (
    "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
    "width": 35px,
    "height": 35px
  )
);


$autocomplete: (
  "background": var(--ion-color-tertiary),
  "color": var(--ion-color-primary),
  "border-radius": 12px,
  "padding": 10px 18px,
  "border": 1px solid var(--ion-color-primary-tint),
  "font-size": 11.5px,
  "placeholder": (
    "color": var(--ion-color-primary-shade),
    "font-size": 12px
  ),
  "results": (
    "padding": 10px 18px,
    "color": var(--ion-color-primary),
    "background": var(--ion-color-tertiary),
    "font-size": 11.5px
  )
);


$class-details-description: (
  "color": var(--ion-color-primary-shade),
  "margin": 20px 0
);


$social-login: (
  "button": (
    "margin": 0 10px,
    "icon": (
      "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
      "width": 35px,
      "height": 35px,
      "border-radius": 5px
    )
  )
);

$login-form: (
  "button": (
    "margin": 15px 2px 4px 2px
  )
);

$quick-connect-form: (
  "email": (
    "margin": -10px 0 5px 0
  ),
  "assist": (
    "margin": -10px 0 15px 0
  )
);

$who-are-you-page: (
  "layout": (
    "min-height": 500px,
    "social-login": (
      "margin": 30px
    ),
    "segments": (
      "margin": 0 0 4px 0
    ),
    "login-form": (

    ),
    "signup": (
      "position": (
        "bottom": 20px
      )
    ),
    "quick-connect-form": (
    )
  ),
  "signup": (
    "font-size": 10px,
    "color": var(--ion-color-primary-shade)
  )
);

$register-student-form: (
  "background": (
    "position-y": 30px
  ),
  "checkboxes": (
    "margin": -10px 0 10px 0
  )
);

$place-details-popover: (
  "header": (
    "padding": 18px,
    "spacing": 10px,
    "color": var(--ion-color-primary-contrast),
    "background": var(--ion-color-primary-shade),
    "name": (
      "font-size": 16px,
    ),
    "address": (
      "font-size": 12px,
    ),
    "icon": (
      "colors": var(--ion-color-primary-contrast),
      "height": 22px,
      "width": 22px,
      "spacing": 5px
    )
  ),
  "loader": (
    "color": var(--ion-color-primary),
    "width": 40px,
    "height": 40px,
  ),
  "map": (
    "background": var(--ion-color-primary-contrast),
    "height": 400px
  )
);

$student-list-popover: (
  "header": (
    "font-size": 16px,
    "color": var(--ion-color-primary-shade),
    "icon": (
      "colors": var(--ion-color-primary-shade),
      "width": 22px,
      "height": 22px,
      "spacing": 10px
    ),
    "waiting-icon": (
      "width": 25px,
      "height": 25px
    ),
    "counter": (
      "font-size": 15px,
      "color": var(--ion-color-primary)
    ),
  ),
  "item": (
    "font-size": 12px,
    "color": var(--ion-color-secondary),
    "line": 1px solid var(--ion-color-tertiary),
    "spacing": 5px,
    "unregister-button": (
      "icon": (
        "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
        "width": 18px,
        "height": 18px,
      )
    ),
    "margin": 0 10px,
    "assist": (
      "loading": (
        "color": var(--ion-color-primary),
        "width": 18px,
        "height": 18px
      ),
      "icon": (
        "margin": 0 2px,
        "accepted": (
          "colors": var(--ion-color-primary-contrast) var(--ion-color-primary),
          "width": 18px,
          "height": 18px
        ),
        "refused": (
          "colors": var(--ion-color-primary-contrast) var(--ion-color-secondary) var(--ion-color-secondary),
          "width": 18px,
          "height": 18px
        ),
        "unknown": (
          "colors": var(--ion-color-primary-contrast) var(--ion-color-primary),
          "width": 18px,
          "height": 18px
        )
      )
    )
  )
);


$admin-manage-classes-page: (
  "add-lesson-button": (
    "margin": 20px 0 0 0,
    "icon": (
      "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
      "width": 74px,
      "height": 74px
    )
  )
);



$unscheduled-lesson-card-layout: map-merge($scheduled-class-card-layout, ());
$unscheduled-lesson-card-header: map-merge($scheduled-class-card-header, (
  "background": var(--ion-color-primary-tint),
  "color": var(--ion-color-primary-contrast)
));
$unscheduled-lesson-card-content: map-merge($scheduled-class-card-content, ());
$unscheduled-lesson-card-time: map-merge($scheduled-class-card-time, ());
$unscheduled-lesson-card-place: map-merge($scheduled-class-card-place, ());
$unscheduled-lesson-card-max-students: map-merge($scheduled-class-card-waiting-places, ());
$unscheduled-lesson-card-posture-level: map-merge($scheduled-class-card-posture-level, ());
$unscheduled-lesson-card-sport-level: map-merge($scheduled-class-card-sport-level, ());
$unscheduled-lesson-card-details: map-merge($scheduled-class-card-details, ());
$unscheduled-lesson-card-details-button: map-merge($scheduled-class-card-details-button, ());
$unscheduled-lesson-card-schedule-button: map-merge($scheduled-class-card-schedule-button, ());
$unscheduled-lesson-card-remove-button: map-merge($scheduled-class-card-cancel-button, ());


$cancel-popover: (
  "form": (
    "padding": 15px 20px 10px 20px
  ),
  "message": (
    "padding": 8px
  )
);

$calendar: (
  "select-month": (
    "background": var(--ion-color-primary),
    "color": var(--ion-color-primary-contrast),
    "font-size": 14px,
    "height": 60px,
    "padding-top": 12px,
    "drop-icons": (
      "width": 10px,
      "height": 10px,
    ),
    "back-forward-icons": (
      "width": 15px,
      "height": 15px,
    )
  ),
  "padding": 30px 30px 20px 30px,
  "week-days": (
    "color": var(--ion-color-primary),
    "font-size": 12px,
    "height": 36px
  ),
  "days": (
    "font-size": 14px,
    "height": 55px,
    "current-month": (
      "color": var(--ion-color-primary-tint),
    ),
    "last-or-next-month": (
      "color": var(--ion-color-tertiary),
    ),
    "today": (
      "color": var(--ion-color-primary-shade),
    ),
    "selected": (
      "background": var(--ion-color-primary),
      "color": var(--ion-color-primary-contrast),
      "border-radius": 15px,
      "width": 25px,
      "height": 25px,
      "margin-top": 5px
    )
  ),
  "hours": (
    "font-size": 9px,
    "line-height": 8px,
    "color": var(--ion-color-primary),
    "position": (
      "top": 30px
    )
  )
);

$select-hours-popover: (
  "padding": 10px 20px,
  "input": (
    "width": 70px
  ),
  "select-hours-icon": (
    "colors": var(--ion-color-primary-tint) var(--ion-color-primary-contrast),
    "width": 22px,
    "height": 22px,
  ),
  "submit-button": (
    "icon": (
      "colors": var(--ion-color-primary) var(--ion-color-primary-contrast),
      "width": 26px,
      "height": 26px,
    )
  )
);

$recurrence-popover: (
  "padding": 10px,
  "title": (
    "font-size": 16px,
    "color": var(--ion-color-primary),
  ),
  "submit-button": (
    "margin": 20px auto 0 auto
  ),
  "item": map-merge(value($selects, "option"), (
    "color": var(--ion-color-secondary)
  )),
  "until": (
    "padding": 5px 10px,
    "width": 100px
  )
);


$toast: map-merge($popover, (
  "padding": 10px,
  "margin": 0 0 20px 0,
  "box-shadow": 0px 0px 10px 5px rgba(125, 125, 125, 0.3),
  "title": (
    "font-size": 14px,
    "padding": 0 30px
  ),
  "color": var(--ion-color-primary-contrast),
  "close-button": (
    "icon": (
      "colors": var(--ion-color-primary-contrast) var(--ion-color-primary),
      "width": 35px,
      "height": 35px
    ),
    "position": (
      "top": -8px,
      "right": -6px
    )
  )
));

$toast-states: (
  "booking-approved": map-merge(value($scheduled-class-card-states, "booking-approved.header"), ()),
  "booking-waiting": map-merge(value($scheduled-class-card-states, "booking-waiting.header"), ()),
  "unbooked": (
    "background": var(--ion-color-primary-shade)
  ),
  "failed": (
    "background": var(--ion-color-warning)
  )
);


$book-lessons-page: (
  "student-list": (
    "padding": 0 10px
  ),
  "loader": (
    "color": var(--ion-color-primary),
    "width": 40px,
    "height": 40px
  )
);


$scheduled-class-details-page-layout: (
  "content": (
    "padding": 10px 20px
  ),
  "actions": (
  ),
  "summary": (
    "padding": 20px 0 0 0,
    "horizontal-spacing": 20px,
    "info": (
      "width": 140px
    )
  ),
  "separator": (
    "margin": 40px 0,
    "line": 1px solid var(--ion-color-tertiary)
  ),
  "details": (
  ),
  "cancel-details": (
    "margin-top": 20px
  ),
);
$scheduled-class-details-page-header: map-merge($scheduled-class-card-header, ());
$scheduled-class-details-page-content: map-merge($pages, ());
$scheduled-class-details-page-actions: (
  "button": (
    "font-size": 14px,
    "color": var(--ion-color-secondary),
    "spacing": 8px,
    "width": 125px,
    "height": 30px,
  ),
  "toggle": (
    "container": (
      "width": 30px,
      "height": 12px,
      "border-radius": 10px,
      "border": 1px solid transparent,
      "padding": 2px
    ),
    "indicator": (
      "width": 12px,
      "height": 12px,
      "border-radius": 6px
    )
  )
);
$scheduled-class-details-page-time: map-merge($scheduled-class-card-time, (
  "space-between": 5px
));
$scheduled-class-details-page-place: map-merge($scheduled-class-card-place, ());
$scheduled-class-details-page-place-changed: map-merge($scheduled-class-card-place-changed, ());
$scheduled-class-details-page-places: (
  "header": (
    "color": var(--ion-color-primary-shade),
    "font-size": 12px,
  ),
  "item": (
    "line": 1px solid var(--ion-color-secondary-contrast),
  )
);
$scheduled-class-details-page-remaining-places: map-merge($scheduled-class-card-remaining-places, ());
$scheduled-class-details-page-waiting-places: map-merge($scheduled-class-card-waiting-places, ());
$scheduled-class-details-page-posture-level: map-merge($scheduled-class-card-posture-level, (
  "padding": 8px 0 0 0
));
$scheduled-class-details-page-sport-level: map-merge($scheduled-class-card-sport-level, (
  "padding": 8px 0 0 0
));
$scheduled-class-details-page-details: map-merge($scheduled-class-card-details, ());
$scheduled-class-details-page-cancel-details: map-merge($scheduled-class-card-cancel-details, ());


$scheduled-class-details-page-states: (
  "bookable": (
    "header": map-merge(value($scheduled-class-card-states, "bookable.header"), ()),
    "toggle": (
      "background": var(--ion-color-primary-contrast),
      "border": var(--ion-color-primary),
      "indicator": var(--ion-color-primary)
    )
  ),
  "booking-approved": (
    "header": map-merge(value($scheduled-class-card-states, "booking-approved.header"), ()),
    "toggle": (
      "background": var(--ion-color-secondary),
      "border": var(--ion-color-secondary),
      "indicator": var(--ion-color-secondary-contrast)
    )
  ),
  "booking-waiting": (
    "header": map-merge(value($scheduled-class-card-states, "booking-waiting.header"), ()),
    "toggle": (
      "background": var(--ion-color-primary),
      "border": var(--ion-color-primary),
      "indicator": var(--ion-color-primary-contrast)
    ),
    "message": (
      "color": var(--ion-color-primary),
      "font-size": 12px
    )
  ),
  "canceled": (
    "header": map-merge(value($scheduled-class-card-states, "canceled.header"), ()),
  ),
  "pending": (
    "toggle": (
      "background": var(--ion-color-primary-contrast),
      "border": var(--ion-color-primary),
      "indicator": var(--ion-color-primary)
    )
  )
);


$info-pages: (
  "padding": 20px
);
$error-pages: (
  "padding": 20px
);
