<ion-app [class.keyboard-opened]="isKeyboardVisible()">
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngIf="!isTeacher()">
          <ion-icon name="app-menu-next-classes" slot="start"></ion-icon>
          <a (click)="refresh(); close()" routerLink="/lessons" routerLinkActive="active">Réserver un cours</a>
        </ion-item>
        <ion-item *ngIf="isTeacher()">
          <ion-icon name="app-menu-next-classes" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/admin/classes" routerLinkActive="active">Cours</a>
        </ion-item>
        <ion-item *ngIf="(isAuthenticated() || isRegistered()) && isStudent()">
          <ion-icon name="app-menu-my-next-lessons" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/user/bookings" routerLinkActive="active">Mes prochains cours</a>
        </ion-item>
        <ion-item *ngIf="!isAuthenticated()">
          <ion-icon name="app-menu-login" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/users/login" routerLinkActive="active">Me connecter</a>
        </ion-item>
        <ion-item *ngIf="!isAuthenticated()">
          <ion-icon name="app-menu-signup" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/users/signup" routerLinkActive="active">Créer mon compte</a>
        </ion-item>
        <ion-item *ngIf="isAuthenticated() && isRegistered()">
          <ion-icon name="app-menu-logout" slot="start"></ion-icon>
          <a (click)="logout()">Me déconnecter</a>
        </ion-item>
        <ion-item *ngIf="isAuthenticated() && isRegistered() && isStudent()">
          <ion-icon name="app-menu-subscriptions" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/user/subscriptions" routerLinkActive="active">Mes abonnements</a>
        </ion-item>
        <ion-item *ngIf="isAuthenticated() && isRegistered() && isStudent()">
          <ion-icon name="app-menu-profile" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/user/profile" routerLinkActive="active">Mon profil</a>
        </ion-item>
        <ion-item *ngIf="isAuthenticated() && isRegistered() && isStudent()">
          <ion-icon name="app-menu-preferences" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/user/preferences" routerLinkActive="active">Mes préférences</a>
        </ion-item>
        <ion-item *ngIf="isTeacher()">
          <ion-icon name="app-menu-add-lesson" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/admin/lesson/add" routerLinkActive="active">Ajouter un cours</a>
        </ion-item>
        <ion-item *ngIf="isTeacher()">
          <ion-icon name="app-menu-add-event" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/admin/event/add" routerLinkActive="active">Ajouter événement</a>
        </ion-item>
        <ion-item *ngIf="isTeacher()">
          <ion-icon name="app-menu-subscriptions" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/admin/subscriptions" routerLinkActive="active">Abonnements</a>
        </ion-item>
        <ion-item *ngIf="isTeacher()">
          <ion-icon name="app-menu-add-place" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/admin/place/add" routerLinkActive="active">Ajouter un lieu</a>
        </ion-item>
        <ion-item *ngIf="isTeacher()">
          <ion-icon name="app-menu-add-teacher" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/admin/teacher/add" routerLinkActive="active">Ajouter un prof</a>
        </ion-item>
        <ion-item class="contact">
          <ion-icon name="app-contact" slot="start"></ion-icon>
          <a (click)="close()" routerLink="/contact" routerLinkActive="active">Contacter un prof</a>
        </ion-item>
      </ion-list>
      <div class="misc">
        <app-install></app-install>
        <div class="current-user" *ngIf="currentUser">
          <ion-icon name="app-current-user" slot="start"></ion-icon>
          <span class="display-name">{{ currentUser.displayName }}</span>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
