@import "../../../../theme/button-utils";

:host {
    display: block;
    width: 100%;
}

ion-card-header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    ion-card-title {
        font-size: 15px;
        font-weight: bold;
        flex: 1 1 auto;
    }
    ion-button {
        flex: 0 auto;

        ion-icon[name="custom-pending"] {
            &:before {
                font-size: 16px;
            }
        }
    }
}

ion-card-content {
    padding: 0;

    .preview,
    .details {
        padding: 5px;
        display: flex;
    }
    .preview {
        border-bottom: 1px solid var(--border-color);
    }
}

.preview {
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
        display: flex;
        flex: 3 1 60%;
        align-self: center;
        font-weight: bold;
        font-size: 14px;
    }
    .remaining-places,
    .waiting-queue {
        align-self: flex-end;
    }
    .place {
        width: 100%;

        ion-button {
            @include discreet-button(var(--ion-color-primary));

            ion-icon {
                font-size: 18px;
                line-height: 14px;
            }
        }
    }
}

.details {
    flex-direction: column;

    > ion-button {
        @include discreet-button(var(--ion-color-medium));
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.remaining-places,
.waiting-queue {
    position: relative;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-left: 12px;

    ion-icon {
        font-size: 22px;
    }
    ion-badge {
        --padding-top: 3px;
        --padding-end: 3px;
        --padding-start: 3px;
        --padding-bottom: 3px;
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 18px;
    }
}
.waiting-queue {
    ion-icon {
        font-size: 24px;
    }
    ion-badge {
        top: 2px;
    }
}


/* animation */
ion-card-content .details {
    padding-top: 0;
    padding-bottom: 0;
    transition: padding 0.2s linear 0.8s;
}
app-class-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.show-details {
    ion-card-content .details {
        padding-top: 5px;
        padding-bottom: 5px;
        transition: padding 0.2s linear;
    }
    app-class-details {
        max-height: 600px;
    }
}

app-class-details {
    /deep/ ion-list {
        max-height: 280px;
        overflow-y: auto;
    }
}

/* states */
.booked.booking-approved {
    ion-card-header {
        background: var(--ion-color-success);
    }
}
.booked.booking-waiting {
    ion-card-header {
        background: var(--ion-color-tertiary);
    }
}
.canceled {
    min-height: 150px;
    position: relative;

    ion-card-header {
        background: var(--ion-color-warning);
    }
    .preview,
    .details {
        display: none;
    }
    &:before {
        content: "";
        display: block;
        border: 50px solid var(--ion-color-warning);
        border-left-color: transparent;
        border-bottom-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .cancel-details {
        h3 {
            position: absolute;
            top: -15px;
            right: 2px;
            color: var(--ion-color-warning-contrast);
            transform: rotate(45deg);
            font-size: 16px;
            font-weight: bold;
            width: 50px;
            z-index: 2;
        }
        p {
            padding: 0 50px 0 5px;
            margin: 10px 0;
        }
        .lesson-canceled {
            text-transform: uppercase;
        }
        p span {
            display: block;
        }
        .message {
            font-weight: bold;
        }
    }
}