@import "../../../../theme/variables";
@import "../../../../theme/button-utils";
@import "../../../../theme/icons-utils";

:host {
    display: block;
    width: 100%;
    padding: value($scheduled-class-card-layout, "padding");
}

ion-card {
    border-radius: value($scheduled-class-card-layout, "border-radius");
    margin-inline-start: value($scheduled-class-card-layout, "margin-inline");
    margin-inline-end: value($scheduled-class-card-layout, "margin-inline");
    margin-bottom: value($scheduled-class-card-layout, "margin-bottom");
    position: relative;
    overflow: visible;
    box-shadow: none;
}

ion-card-header {
    border-top-left-radius: value($scheduled-class-card-layout, "border-radius", "top-left");
    border-top-right-radius: value($scheduled-class-card-layout, "border-radius", "top-right");
    background: value($scheduled-class-card-states, "bookable.header.background");
    padding: value($scheduled-class-card-header, "padding");
    position: relative;

    ion-card-title {
        span {
            text-align: center;
            display: block;
            color: value($scheduled-class-card-states, "bookable.header.color");
        }
        .date {
            font-size: value($scheduled-class-card-header, "date.font-size");
            padding-bottom: value($scheduled-class-card-header, "spacing");
            
            &::first-letter {
                text-transform: capitalize;
            }
        }
        .title {
            font-size: value($scheduled-class-card-header, "title.font-size");;
            font-weight: bold;
        }
    }
}

ion-card-content {
    background: value($scheduled-class-card-content, "background");
    border-bottom-left-radius: value($scheduled-class-card-layout, "border-radius", "bottom-left");
    border-bottom-right-radius: value($scheduled-class-card-layout, "border-radius", "bottom-right");
    position: static;

    .summary {
        padding: value($scheduled-class-card-layout, "summary.padding");
        position: relative;
        
        .time {
            ion-icon {
                @include icon-styles(value($scheduled-class-card-time, "icon"));
                vertical-align: middle;
            }
            span {
                font-size: value($scheduled-class-card-time, "font-size");
                font-weight: bold;
                color: value($scheduled-class-card-time, "color");
                display: inline-block;
                vertical-align: middle;
                padding-left: value($scheduled-class-card-time, "space-between");
            }
        }
        .place {
            ion-button {
                font-size: value($scheduled-class-card-place, "font-size");
                font-weight: bold;
                @include discreet-button(value($scheduled-class-card-place, "color"));

                ion-icon {
                    @include icon-styles(value($scheduled-class-card-place, "icon"));
                    vertical-align: middle;
                }
                span {
                    padding-top: 1px;
                    padding-left: 1px;
                    display: inline-block;
                }
            }
            .place-changed {
                border-radius: value($scheduled-class-card-place-changed, "border-radius");
                padding: value($scheduled-class-card-place-changed, "padding");
                font-size: value($scheduled-class-card-place-changed, "font-size");
                font-weight: bold;
                background: value($scheduled-class-card-place-changed, "background");
                color: value($scheduled-class-card-place-changed, "color");
                width: fit-content;

                ion-icon {
                    @include icon-styles(value($scheduled-class-card-place-changed, "icon"));
                    padding-right: value($scheduled-class-card-place-changed, "spacing");
                    vertical-align: middle;
                    display: none;
                }
                span {
                    display: inline-block;
                    height: value($scheduled-class-card-place-changed, "icon.height");
                    line-height: value($scheduled-class-card-place-changed, "icon.height");
                    vertical-align: middle;
                    font-weight: bold;
                }
            }
        }
        .remaining-places,
        .waiting-queue {
            position: absolute;

            ion-badge {
                display: block;
                --background: none;
            }
        }
        .remaining-places {
            top: value($scheduled-class-card-remaining-places, "position.top");
            right: value($scheduled-class-card-remaining-places, "position.right");

            ion-icon {
                @include icon-styles(value($scheduled-class-card-remaining-places, "icon"));
            }
            ion-badge {
                --color: #{value($scheduled-class-card-remaining-places, "color")};
                --padding-top: #{value($scheduled-class-card-remaining-places, "padding", "top") + 1px};
                --padding-end: #{value($scheduled-class-card-remaining-places, "padding", "right")};
                --padding-bottom: #{value($scheduled-class-card-remaining-places, "padding", """bottom")};
                --padding-start: #{value($scheduled-class-card-remaining-places, "padding", "left")};
                font-size: value($scheduled-class-card-remaining-places, "font-size");
                margin-top: -2px;
            }
        }
        .waiting-queue {
            top: value($scheduled-class-card-waiting-places, "position.top");
            right: value($scheduled-class-card-waiting-places, "position.right");

            ion-icon {
                @include icon-styles(value($scheduled-class-card-waiting-places, "icon"));
            }
            ion-badge {
                --color: #{value($scheduled-class-card-waiting-places, "color")};
                --padding-top: #{value($scheduled-class-card-waiting-places, "padding", "top") + 1px};
                --padding-end: #{value($scheduled-class-card-waiting-places, "padding", "right")};
                --padding-bottom: #{value($scheduled-class-card-waiting-places, "padding", "bottom")};
                --padding-start: #{value($scheduled-class-card-waiting-places, "padding", "left")};
                font-size: value($scheduled-class-card-waiting-places, "font-size");
                margin-top: -4px;
            }
        }
        .posture-level {
            display: inline-block;
            padding: value($scheduled-class-card-posture-level, "padding");
            font-weight: bold;

            ion-icon {
                @include icon-styles(value($scheduled-class-card-posture-level, "icon"));
                vertical-align: middle;
            }
            div {
                display: inline-block;
                color: value($scheduled-class-card-posture-level, "color");
                padding-left: value($scheduled-class-card-posture-level, "spacing");
                vertical-align: middle;
                line-height: normal;
            }
            span.label {
                font-size: value($scheduled-class-card-posture-level, "font-size");
                display: block;
            }
            span.number {
                font-size: value($scheduled-class-card-posture-level, "number.font-size");
                display: block;
                text-align: center;
            }
        }
        .sport-level {
            display: inline-block;
            padding: value($scheduled-class-card-sport-level, "padding");
            font-weight: bold;

            ion-icon {
                @include icon-styles(value($scheduled-class-card-sport-level, "icon"));
                vertical-align: middle;
            }
            div {
                display: inline-block;
                color: value($scheduled-class-card-sport-level, "color");
                padding-left: value($scheduled-class-card-sport-level, "spacing");
                vertical-align: middle;
                line-height: normal;
            }
            span.label {
                font-size: value($scheduled-class-card-sport-level, "font-size");
                display: block;
            }
            span.number {
                font-size: value($scheduled-class-card-sport-level, "number.font-size");
                display: block;
                text-align: center;
            }
        }
    }
    .details {
        margin-top: value($scheduled-class-card-layout, "details.margin-top");
        padding-bottom: value($scheduled-class-card-layout, "details.padding-bottom");

        ion-button {
            --padding-top: #{value($scheduled-class-card-details-button, "padding", "top")};
            --padding-bottom: #{value($scheduled-class-card-details-button, "padding", "bottom")};
            --padding-start: #{value($scheduled-class-card-details-button, "padding", "start")};
            --padding-end: #{value($scheduled-class-card-details-button, "padding", "end")};
            --background: #{value($scheduled-class-card-details-button, "background")};
            --color: #{value($scheduled-class-card-details-button, "color")};
            font-size: value($scheduled-class-card-details-button, "font-size");
            border-radius: value($scheduled-class-card-details-button, "border-radius");
            text-transform: none;
            overflow: hidden;
            height: value($scheduled-class-card-details-button, "height");
            position: absolute;
            bottom: value($scheduled-class-card-details-button, "position.bottom");

            ion-icon {
                @include icon-styles(value($scheduled-class-card-details-button, "icon"));
            }
            span {
                display: inline-block;
                margin-right: value($scheduled-class-card-details-button, "space-between");
            }
        }

        ::ng-deep app-class-details {
            height: 0;
            overflow: hidden;
            margin-bottom: value($scheduled-class-card-details, "description.margin");

            p {
                font-size: value($scheduled-class-card-details, "description.font-size");
            }
            app-approved-students,
            app-waiting-students {
                display: none;
            }
        }
    }
    .cancel-details {
        .teacher-message {
            margin-top: value($scheduled-class-card-layout, "cancel-details.margin-top");
            font-size: value($scheduled-class-card-cancel-details, "message.font-size");
            color: value($scheduled-class-card-cancel-details, "message.color");
            font-weight: bold;

            span {
                display: inline-block;
                vertical-align: middle;
            }
            
            .intro {
                padding-right: value($scheduled-class-card-cancel-details, "message.spacing");
                color: value($scheduled-class-card-cancel-details, "message.teacher-name.color");
                line-height: value($scheduled-class-card-cancel-details, "message.icon.height");
                height: value($scheduled-class-card-cancel-details, "message.icon.height");
            }

            ion-icon {
                @include icon-styles(value($scheduled-class-card-cancel-details, "message.icon"));
                vertical-align: middle;
                margin: value($scheduled-class-card-cancel-details, "message.icon.margin");
            }
        }
        .lesson-canceled {
            margin-top: value($scheduled-class-card-cancel-details, "spacing");
            font-size: value($scheduled-class-card-cancel-details, "lesson-canceled.font-size");
            color: value($scheduled-class-card-cancel-details, "lesson-canceled.color");
            background: value($scheduled-class-card-cancel-details, "lesson-canceled.background");
            border-radius: value($scheduled-class-card-cancel-details, "lesson-canceled.border-radius");
            padding: value($scheduled-class-card-cancel-details, "lesson-canceled.padding");
            width: fit-content;
            font-weight: bold;
        }
    }
    .actions {
        ion-button.book-class {
            position: absolute;
            bottom: value($scheduled-class-card-book-button, "position.bottom");
            right: value($scheduled-class-card-book-button, "position.right");
            @include round-icon-button($scheduled-class-card-book-button);
        }
        ion-button.unbook-class {
            position: absolute;
            bottom: value($scheduled-class-card-unbook-button, "position.bottom");
            right: value($scheduled-class-card-unbook-button, "position.right");
            @include round-icon-button($scheduled-class-card-unbook-button);
        }
        ion-button.edit-class {
            position: absolute;
            bottom: value($scheduled-class-card-edit-button, "position.bottom");
            right: value($scheduled-class-card-edit-button, "position.right");
            @include round-icon-button($scheduled-class-card-edit-button);
        }
        ion-button.schedule-class {
            position: absolute;
            bottom: value($scheduled-class-card-schedule-button, "position.bottom");
            right: value($scheduled-class-card-schedule-button, "position.right");
            @include round-icon-button($scheduled-class-card-schedule-button);
        }
        ion-button.cancel-class {
            position: absolute;
            top: value($scheduled-class-card-cancel-button, "position.top");
            right: value($scheduled-class-card-cancel-button, "position.right");
            @include round-icon-button($scheduled-class-card-cancel-button);
        }
    }

    ion-spinner {
        position: absolute;
        bottom: value($scheduled-class-card-pending, "position.bottom");
        right: value($scheduled-class-card-pending, "position.right");
        width: value($scheduled-class-card-pending, "width");
        height: value($scheduled-class-card-pending, "height");
        color: value($scheduled-class-card-pending, "color");
        background: value($scheduled-class-card-pending, "background");
        border-radius: value($scheduled-class-card-pending, "width") / 2 + 1;
        border: value($scheduled-class-card-pending, "padding") solid value($scheduled-class-card-pending, "background");
    }
}






/* states */
.show-details {
    ion-card-content .details ::ng-deep app-class-details {
        height: auto;
    }
}

.booked.booking-approved {
    ion-card-header {
        background: value($scheduled-class-card-states, "booking-approved.header.background");
    }
    .state-icons {
        ion-icon {
            position: absolute;
            bottom: value($scheduled-class-card-states, "booking-approved.icon.position.bottom");
            right: value($scheduled-class-card-states, "booking-approved.icon.position.right");
            @include icon-styles(value($scheduled-class-card-states, "booking-approved.icon"));
        }
    }
}
.booked.booking-waiting {
    ion-card-header {
        background: value($scheduled-class-card-states, "booking-waiting.header.background");
    }
    .state-icons {
        ion-icon {
            position: absolute;
            bottom: value($scheduled-class-card-states, "booking-waiting.icon.position.bottom");
            right: value($scheduled-class-card-states, "booking-waiting.icon.position.right");
            @include icon-styles(value($scheduled-class-card-states, "booking-waiting.icon"));
        }
    }
}
.canceled,
.booked.canceled {
    ion-card-header {
        background: value($scheduled-class-card-states, "canceled.header.background");
    }
    .state-icons {
        ion-icon {
            position: absolute;
            bottom: value($scheduled-class-card-states, "canceled.icon.position.bottom");
            right: value($scheduled-class-card-states, "canceled.icon.position.right");
            @include icon-styles(value($scheduled-class-card-states, "canceled.icon"));
        }
    }
    .summary {
        opacity: 0.5;
    }
    .details {
        display: none;
    }
}
