<ion-card [class.show-details]="showDetails" 
          [class.bookable]="bookable" 
          [class.booked]="booked" 
          [class.booking-approved]="bookingApproved"
          [class.booking-waiting]="bookingWaiting"
          [class.confirmable]="confirmable"
          [class.pending]="pending"
          [class.canceled]="canceled"
          [class.editable]="editable"
          [class.schedulable]="schedulable"
          [class.cancelable]="cancelable"
          [class.place-changed]="scheduledClass.lesson.placeChanged">
  <ion-card-header>
    <ion-card-title (click)="showClassDetails.emit(scheduledClass)">
      <span class="date">{{ scheduledClass | dateRange:'date' }}</span>
      <span class="title">{{ scheduledClass.lesson.title }}</span>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="summary">
      <div class="time">
        <ion-icon slot="start" name="app-time"></ion-icon>
        <span>{{ scheduledClass | dateRange:'time' }}</span>
      </div>
      <div class="place">
        <ion-button (click)="showPlaceDetails.emit(scheduledClass.lesson.place)">
          <ion-icon slot="start" name="app-place"></ion-icon>
          <span>{{ scheduledClass.lesson.place.name }}</span>
        </ion-button>
        <div class="place-changed" *ngIf="scheduledClass.lesson.placeChanged">
          <ion-icon slot="icon-only" name="app-place-changed"></ion-icon>
          <span>le lieu a été modifié</span>
        </div>
      </div>
      <div class="remaining-places" (click)="showApprovedStudents.emit(scheduledClass)">
        <ion-icon slot="icon-only" name="app-approved-list"></ion-icon>
        <ion-badge>{{ getNumberOfApprovedStudents() }}/{{ scheduledClass.lesson.maxStudents }}</ion-badge>
      </div>
      <div class="waiting-queue" (click)="showWaitingStudents.emit(scheduledClass)">
        <ion-icon slot="icon-only" name="app-waiting-list"></ion-icon>
        <ion-badge>{{ getNumberOfWaitingStudents() }}</ion-badge>
      </div>
      <div *ngIf="getPostureLevel()" class="posture-level level-{{ getPostureLevel().value }}">
        <ion-icon slot="icon-only" name="app-posture-level"></ion-icon>
        <div>
          <span class="label">{{ getPostureLevel().label }}</span>
          <span class="number">[{{ getPostureLevel().value + 1 }}/5]</span>
        </div>
      </div>
      <div *ngIf="getSportLevel()" class="sport-level level-{{ getSportLevel().value }}">
        <ion-icon slot="icon-only" name="app-sport-level"></ion-icon>
        <div>
          <span class="label">{{ getSportLevel().label }}</span>
          <span class="number">[{{ getSportLevel().value + 1 }}/5]</span>
        </div>
      </div>
    </div>
    <div class="details">
      <ion-button (click)="viewDetails.emit(scheduledClass)" *ngIf="!showDetails" size="small">
        <ion-icon slot="end" name="app-view-details"></ion-icon>
        <span>Détails</span>
      </ion-button>
      <ion-button (click)="hideDetails.emit(scheduledClass)" *ngIf="showDetails" size="small">
        <ion-icon slot="end" name="app-hide-details"></ion-icon>
        <span>Détails</span>
      </ion-button>
      <app-class-details 
        [scheduledClass]="scheduledClass"
        [searchFriendProvider]="searchFriendProvider"
        [unbookableProvider]="unbookableProvider"
        (bookForFriend)="bookForFriend.emit($event)"
        (unbookForFriend)="unbookForFriend.emit($event)"></app-class-details>
    </div>
    <div class="actions">
      <ion-button class="book-class" (click)="book.emit(scheduledClass)" *ngIf="bookable && !booked && !pending" size="small">
        <ion-icon slot="icon-only" name="app-book"></ion-icon>
      </ion-button>
      <ion-button class="confirm-booking" (click)="confirmBooking.emit(scheduledClass)" *ngIf="confirmable && booked && !pending && bookingWaiting" size="small">
        <ion-icon slot="icon-only" name="app-confirm-booking"></ion-icon>
      </ion-button>
      <ion-button class="unbook-class" (click)="unbook.emit(scheduledClass)" *ngIf="bookable && booked && !pending" size="small">
        <ion-icon slot="icon-only" name="app-unbook"></ion-icon>
      </ion-button>
      <ion-button class="cancel-class" (click)="cancel.emit(scheduledClass)" *ngIf="cancelable" size="small">
        <ion-icon slot="icon-only" name="app-cancel-class"></ion-icon>
      </ion-button>
      <ion-button class="edit-class" (click)="edit.emit(scheduledClass)" *ngIf="editable" size="small">
        <ion-icon slot="icon-only" name="app-edit-class"></ion-icon>
      </ion-button>
      <ion-button class="schedule-class" (click)="schedule.emit(scheduledClass)" *ngIf="schedulable" size="small">
        <ion-icon slot="icon-only" name="app-schedule-lesson"></ion-icon>
      </ion-button>
    </div>
    <div class="cancel-details" *ngIf="canceled">
      <p class="teacher-message">
        <ion-icon slot="icon-only" name="app-canceled-message"></ion-icon>
        <span class="intro">{{ scheduledClass.lesson.teacher.displayName }} :</span>
        <span class="message">{{ canceledInfo.message }}</span>
      </p>
      <p class="lesson-canceled">Cours annulé</p>
    </div>
    <div class="state-icons">
      <ion-icon class="approved" slot="icon-only" name="app-booking-approved" *ngIf="bookable && booked && !pending && bookingApproved"></ion-icon>
      <ion-icon class="waiting" slot="icon-only" name="app-booking-waiting" *ngIf="bookable && booked && !pending && bookingWaiting"></ion-icon>
      <ion-icon class="confirmation-required" slot="icon-only" name="app-booking-confirmation-required" *ngIf="confirmable && booked && !pending && bookingWaiting"></ion-icon>
      <ion-spinner *ngIf="(bookable || confirmable) && pending"></ion-spinner>
      <ion-icon class="canceled" slot="icon-only" name="app-canceled" *ngIf="canceled"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>
  