<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    En cas de besoin ou pour justifier une absence, vous pouvez contactez l'un des professeur par mail ou téléphone :
  </p>
  <ion-card *ngFor="let teacher of teachers">
    <ion-card-header>
      <ion-card-title>{{ teacher.displayName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="phone-number">
        <ion-icon name="app-phone-number" slot="start"></ion-icon>
        <a href="tel:{{ teacher.contact.phoneNumber }}">{{ teacher.contact.phoneNumber }}</a>
      </ion-item>
      <ion-item class="email">
        <ion-icon name="app-email-address" slot="start"></ion-icon>
        <a href="mailto:{{ teacher.contact.email }}">{{ teacher.contact.email }}</a>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
