@import "../../../../theme/variables";
@import "../../../../theme/icons-utils";

p {
  margin: value($contact-page, "text.margin");
}

ion-card-title {
  font-size: value($contact-page, "teacher.name.font-size");
  font-weight: bold;
}
ion-item {
  --background: none;
  --inner-border-width: 0;
  font-size: value($contact-page, "teacher.info.font-size");

  a {
    color: value($contact-page, "teacher.info.color");
    text-decoration: none;
  }

  &.email {
    ion-icon {
      @include icon-styles(value($contact-page, "teacher.email.icon"));
      margin: value($contact-page, "teacher.email.icon.margin");
    }
  }
  &.phone-number {
    ion-icon {
      @include icon-styles(value($contact-page, "teacher.phone-number.icon"));
      margin: value($contact-page, "teacher.phone-number.icon.margin"); 
    }
  }
}