<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Abonnements</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [class.loading]="loading">
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-searchbar slot="fixed" inputmode="search" (ionChange)="search($event)" [value]="filter"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="manualRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="subscriptions && !loading">
    <ion-item-group *ngFor="let subscription of subscriptions; trackBy: subscriptionReference">
      <ion-item-divider>
        <ion-label>{{ subscription.subscriber.displayName }}</ion-label>
      </ion-item-divider>
      <app-student-subscriptions-form
        [subscription]="subscription"
        [loading]="isLoading(subscription)"
        (update)="updateSubscriptions($event)">
      </app-student-subscriptions-form>
    </ion-item-group>
  </ion-list>
  <ion-infinite-scroll 
    [disabled]="!lastPage || !lastPage.hasNext()"
    threshold="100px"
    (ionInfinite)="loadNextPage($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
