@import "../../../../theme/variables";
@import "../../../../theme/button-utils";

/*:host-context(.keyboard-opened) {
  .register {
    display: none;
  }
}*/

ion-content {
  min-height: value($who-are-you-page, "layout.min-height");
}


ion-content > p {
  display: none;
}

app-social-login {
  margin: value($who-are-you-page, "layout.social-login.margin");
}
ion-segment {
  margin-bottom: value($who-are-you-page, "layout.segments.margin", "bottom");
}


.register {
  position: absolute;
  left: 0;
  right: 0;
  bottom: value($who-are-you-page, "layout.signup.position.bottom");
  text-align: center;

  ion-button {
    @include secondary-button;
  }

  & > p {
    margin-bottom: 0;
    font-size: value($who-are-you-page, "signup.font-size");
    font-weight: bold;
    color: value($who-are-you-page, "signup.color");
  }
}
