<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Qui es-tu ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>Avant de t'inscire à un cours, dis nous qui tu es</p>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="showLogin() ? 'login' : 'unregistered'">
        <ion-segment-button value="login">Connecte toi</ion-segment-button>
        <ion-segment-button value="unregistered">Continue sans compte</ion-segment-button>
    </ion-segment>
    <app-social-login *ngIf="showLogin()" (authenticate)="authenticate($event)"></app-social-login>
    <app-login-form *ngIf="showLogin()" (login)="login($event)" (change)="loginErrors = []" [errors]="loginErrors"></app-login-form>
    <div *ngIf="showLogin()" class="register">
      <p>Pas encore de compte ?</p>
      <ion-button (click)="register()">Créé ton compte</ion-button>
    </div>
    <app-unregistered-info-form *ngIf="showUnregistered()" [unregisteredUser]="getUnregisteredUserInfo()" (continue)="finishBooking($event)"></app-unregistered-info-form>
</ion-content>
