<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Qui es-tu ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>Avant de t'inscire à un cours, dis nous qui tu es</p>
    <app-social-login (authenticate)="authenticate($event)"></app-social-login>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="showLogin() ? 'login' : 'signup'">
      <ion-segment-button value="signup">Créé ton compte</ion-segment-button>
      <ion-segment-button value="login">Connecte toi</ion-segment-button>
    </ion-segment>
    <app-login-form *ngIf="showLogin()" 
      (login)="login($event)" 
      (change)="loginErrors = []" 
      (resetPassword)="resetPassword()"
      [errors]="loginErrors" 
      submitText="Terminer ma réservation"></app-login-form>
    <app-register-student-form *ngIf="showSignup()"
      (register)="registerStudent($event)"
      (change)="signupErrors = []"
      [errors]="signupErrors"
      submitText="Terminer ma réservation"></app-register-student-form>
</ion-content>
