/deep/ ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0 0 0 0;
  --border-width: 0 0 0 0;
}

/deep/ app-popover {
  app-approved-students,
  app-waiting-students {
    padding-left: 10px;
    padding-right: 10px;
  }
}