<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>Prochains cours de Yoga</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [class.loading]="loading">
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-refresher slot="fixed" (ionRefresh)="manualRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <p *ngIf="classes && classes.length === 0">Pas de cours programmé prochainement</p>
  <app-classes 
    *ngIf="classes"
    (click)="lastClick = $event"
    [classes]="classes"
    [bookingStateProvider]="bookingStateProvider"
    [detailsStateProvider]="detailsProvider"
    [pendingStateProvider]="pendingProvider"
    [manageClassStateProvider]="manageClassStateProvider"
    [searchFriendProvider]="searchFriendProvider"
    [unbookableProvider]="unbookableProvider"
    (book)="book($event)"
    (unbook)="unbook($event)"
    (viewDetails)="detailsProvider.viewDetails($event)"
    (hideDetails)="detailsProvider.hideDetails($event)"
    (showPlaceDetails)="showPlaceDetails($event)"
    (showClassDetails)="showClassDetails($event)"
    (showApprovedStudents)="showApprovedStudents($event)"
    (showWaitingStudents)="showWaitingStudents($event)"
    (bookForFriend)="bookingHelper.bookForFriend($event)"
    (unbookForFriend)="bookingHelper.unbookForFriend($event)"></app-classes>
</ion-content>
<app-install [closeable]="true"></app-install>

<app-booking-helper
  #bookingHelper
  [redirection]="['lessons']"
  [pendingProvider]="pendingProvider"
  (refresh)="refreshClassesAndBookings()">
</app-booking-helper>


<ng-template #placeDetails let-place="place">
  <app-place-details [place]="place"></app-place-details>
</ng-template>


<ng-template #approvedStudents
  let-approvedBookings="scheduledClass.bookings.approved"
  let-maxStudents="scheduledClass.lesson.maxStudents">
  <app-approved-students 
    [approvedBookings]="approvedBookings" 
    [maxStudents]="maxStudents"
    [unbookableProvider]="unbookableProvider"
    (unbook)="bookingHelper.unbookForFriend($event)"></app-approved-students>
</ng-template>

<ng-template #waitingStudents
  let-waitingBookings="scheduledClass.bookings.waiting">
  <app-waiting-students
    [waitingBookings]="waitingBookings"
    [unbookableProvider]="unbookableProvider"
    (unbook)="bookingHelper.unbookForFriend($event)"></app-waiting-students>
</ng-template>
