@import "../../../../theme/variables";
@import "../../../../theme/icons-utils";

.loading {
  > * {
    visibility: hidden;
  }

  ion-refresher {
    visibility: visible;
  }
  ion-spinner {
    visibility: visible;
    position: fixed;
    left: 50%;
    top: 50%;
    width: value($book-lessons-page, "loader.width");
    height: value($book-lessons-page, "loader.height");
    margin-left: - value($book-lessons-page, "loader.width") / 2;
    margin-top: - value($book-lessons-page, "loader.height") / 2;
    z-index: 1000;
    color: value($book-lessons-page, "loader.color");
  }
}

ion-content ::ng-deep ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0 0 0 0;
  --border-width: 0 0 0 0;
}

::ng-deep app-popover {
  app-approved-students,
  app-waiting-students {
    padding: value($book-lessons-page, "student-list.padding");
  }
}