<ion-list class="approved">
  <ion-list-header>
    <ion-icon name="custom-approved-list"></ion-icon>
    <ion-title>Participants</ion-title>
    <ion-badge>{{ approvedBookings.length }} / {{ maxStudents }}</ion-badge>
  </ion-list-header>
  <p *ngIf="approvedBookings.length === 0">Aucun participant</p>
  <ion-item *ngFor="let booking of approvedBookings">
    <ion-label>{{ booking.student.displayName }}</ion-label>
    <ion-button (click)="unbook.emit(booking)" size="small">
      <ion-icon slot="icon-only" name="custom-unregister-friend"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
  