<ion-list class="approved">
  <ion-list-header>
    <div class="header-wrapper">
      <ion-icon name="app-approved-list"></ion-icon>
      <ion-title>Participants</ion-title>
      <ion-badge>{{ approvedBookings.length }} / {{ maxStudents }}</ion-badge>
    </div>
  </ion-list-header>
  <p *ngIf="approvedBookings.length === 0">Aucun participant</p>
  <ion-item *ngFor="let booking of approvedBookings">
    <app-student
      [student]="booking.student"
      [displayAssistInfo]="!!preferencesProvider"
      [loading]="isLoading(booking.student)"
      [assist]="getAssistState(booking.student)"
      [unbookable]="isUnbookable(booking)"
      (unbook)="unbook.emit(booking)"></app-student>
  </ion-item>
</ion-list>
  