

:host {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


p {
    display: block;
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 25px;
}

.register-friend {
    width: 100%;
    flex: 0 0 80%;
    margin-left: auto;
    margin-right: auto;
}
app-register-friend {
    margin-left: auto;
    margin-right: auto;
}

app-approved-students,
app-waiting-students {
    // width: 45%;
    min-width: 150px;
    max-width: 350px;
    flex: 1 1 45%;
    padding-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}