<p>{{ scheduledClass.lesson.description }}</p>
<div class="register-friend">
  <app-register-friend
    [searchFriendProvider]="searchFriendProvider"
    (registerFriend)="bookForFriend.emit({friend: $event, bookedClass: scheduledClass})"></app-register-friend>
</div>
<app-approved-students 
  [approvedBookings]="scheduledClass.bookings.approved" 
  [maxStudents]="scheduledClass.lesson.maxStudents"
  [unbookableProvider]="unbookableProvider"
  (unbook)="unbookForFriend.emit({booking: $event, bookedClass: scheduledClass})"></app-approved-students>  
<app-waiting-students 
  [waitingBookings]="scheduledClass.bookings.waiting"
  [unbookableProvider]="unbookableProvider"
  (unbook)="unbookForFriend.emit({booking: $event, bookedClass: scheduledClass})"></app-waiting-students>  
