<ion-list class="waiting">
  <ion-list-header>
    <ion-icon name="custom-waiting-list"></ion-icon>
    <ion-title>Liste d'attente</ion-title>
    <ion-badge>{{ waitingBookings.length }}</ion-badge>
  </ion-list-header>
  <p *ngIf="waitingBookings.length === 0">Aucun inscrit sur liste d'attente</p>
  <ion-item *ngFor="let booking of waitingBookings">
    <ion-label>{{ booking.student.displayName }}</ion-label>
    <ion-button (click)="unbook.emit(booking)" size="small">
      <ion-icon slot="icon-only" name="custom-unregister-friend"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
