
<ng-template #approvedNotification let-bookedClass="bookedClass">
  <div class="header">
    <span class="title">Inscription confirmée</span>
  </div>
  <div class="content">
    <p>Tu es inscrit au cours du <strong>{{ bookedClass | dateRange }}</strong></p>
    <ion-button (click)="addToCalendar(bookedClass)" size="small">ajouter au calendrier</ion-button>
  </div>
</ng-template>

<ng-template #waitingListNotification let-bookedClass="bookedClass">
  <div class="header">
    <span class="title">Inscription en file d'attente</span>
  </div>
  <div class="content">
    <p>Tu es sur liste d'attente pour le cours du <strong>{{ bookedClass | dateRange }}</strong>.<br />
      Tu recevras une notification lorsqu'une place se libèrera.</p>
  </div>
</ng-template>

<ng-template #unbookedNotification let-bookedClass="bookedClass">
  <div class="header">
    <span class="title">Désinscription</span>
  </div>
  <div class="content">
    <p>Tu es désinscrit du cours du <strong>{{ bookedClass | dateRange }}</strong>.</p>
    <ion-button (click)="removeFromCalendar(bookedClass)" size="small">retirer du calendrier</ion-button>
  </div>
</ng-template>

  
<ng-template #alreadyBookedNotification let-bookedClass="bookedClass">
  <div class="header">
    <span class="title">Déjà inscrit</span>
  </div>
  <div class="content">
    <p>Tu es déjà inscrit au cours du <strong>{{ bookedClass | dateRange }}</strong></p>
  </div>
</ng-template>
  
<ng-template #notBookedNotification let-bookedClass="bookedClass">
  <div class="header">
    <span class="title">Pas encore inscrit</span>
  </div>
  <div class="content">
    <p>Tu n'es pas inscrit au cours du <strong>{{ bookedClass | dateRange }}</strong></p>
  </div>
</ng-template>
  
<ng-template #placeAlreadyTakenNotification let-bookedClass="bookedClass">
  <div class="header">
    <span class="title">La place a déjà été prise</span>
  </div>
  <div class="content">
    <p>Désolé, quelqu'un a pris la place disponible avant toi au cours du <strong>{{ bookedClass | dateRange }}</strong></p>
  </div>
</ng-template>
  